.map
 min-height: 400px
 height: 500px
 position: relative
 display: block

#map_canvas 
.row-fluid 
 .span8
  width: 67.95745%


#map_canvas img
 max-width: none // needed for bug related to Bootstrap and maps
