
* {
    margin: 0;
    padding: 0;
}

html,body {
    -webkit-font-smoothing: antialiased;
}

.bigdealcontainer {
    height: auto;
    font-family: 'Mensch', sans-serif;
    font-size: 2em;
    line-height: .9;
    font-weight: bold;
    display: inline-block;
    color: white;
  /*  -webkit-animation: fadeAway 6s 4s ease;
    -webkit-animation-fill-mode: both;*/
}


.signup_content {
-webkit-animation: fadeInDown 6s 4s ease;
-webkit-animation-fill-mode: both;
display: none;
}

.meta {
    margin-top: 24px;
    font-size: 1em;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    line-height: 1.5;
    font-family: 'Gotham', sans-serif;
    -webkit-animation: fadeInDown 1s 4s ease;
    -webkit-animation-fill-mode: both;
    font-weight: 700;
}

.meta button {
    background-color: #dedede;
    color: rgba(80,80,80,1) !important;
    font-weight: bold;
    font-family: 'Gotham', sans-serif;
}

a {
    color: #fe5741;
    text-decoration: none;
}

.words span {
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -webkit-backface-visibility: hidden;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: .75s;
    position: relative;
    display: inline-block;

}

.word1 {
    -webkit-animation-delay: .2s;
    -webkit-animation-name: fadeInDown;

}

.word2 {
    -webkit-animation-delay: .4s;
    -webkit-animation-name: fadeInDown;
}

.word3 {
    -webkit-animation-delay: .6s;
    -webkit-animation-name: fadeInDown;
}

.word4 {
    -webkit-animation-delay: .8s;
    -webkit-animation-name: fadeInDown;
}

.word5 {
    -webkit-animation-delay: 1s;
    -webkit-animation-name: fadeInDown;
}

.word6 {
    -webkit-animation-delay: 1.2s;
    -webkit-animation-name: fadeInDown;
}

.word7 {
    -webkit-animation-delay: 1.4s;
    -webkit-animation-name: fadeInDown;
}

.word8 {
    -webkit-animation-delay: 1.8s;
    -webkit-animation-name: bounceInDown;
}

.word9 {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    font-size: 2em;
    font-family: 'Mensch', sans-serif;
    -webkit-animation-delay: 2.4s;
    -webkit-animation-name: bounceInLeft;
}
.word10,.word11,.word13 {
    font-style: italic;
    line-height: 1;
    -webkit-animation-delay: 3s;
    -webkit-animation-name: bounceInLeft;
    
}

.word13 {
   
    text-transform: uppercase;


}


.word14 {
    
    text-transform: uppercase;
    -webkit-animation-delay: 3.2s;
    -webkit-animation-name: bounceInLeft;
    
}