@import "compass_twitter_bootstrap"
@import "compass_twitter_bootstrap_responsive"
@import "animate-custom.css"
@import "bigstyle.css"
@import "email.css"
@import "tumblr"
@import "map"

body
 font-family: Alright Sans
 padding: 0px !important

nav
 ul
  li
   display: inline-block
   text-transform: uppercase

.container
 margin: 0
 width: 100%

.people_background
 background-image: url(../images/people_background.jpeg)
 height: 500px
 width: 100% !important
 hgroup
  margin: 0 auto
  text-align: center
  font-family: Mensch
  color: white
  text-shadow: 0px 1px 1px black
  h2
   font-size: 3.4em


.awards
 background-image: url(../images/cheerleaders.jpeg)
 width: 100% !important
 height: inherit
 padding: 20px 0 20px 0
 color: white
 font-family: Alright Sans
 background-size: cover
 img
  height: 120px
 p
  text-transform: uppercase
  font-weight: bold
  margin: 10px 0 0 0

 .span4
  text-align: center

.quotes
 margin: 10px 0 0 0
 div.span4
  text-align: center
  img
   height: 40px
