@import "compass_twitter_bootstrap"
@import "compass_twitter_bootstrap_responsive"
@import "tumblr"


nav
 ul
  li
   display: inline-block
   text-transform: uppercase

.people_background
 background-image: url(../images/people_background.jpeg)
 height: 500px
 width: 100% !important
 hgroup
  margin: 0 auto
  text-align: center
  font-family: Mensch
  color: white
  text-shadow: 0px 1px 1px black
  h2
   font-size: 3.4em



 /* email section */
 #mc_embed_signup input.button
  background-color: red !important
  display: none
