body {
	min-width: auto !important;
}

section.mobile_page {
	height: 500px !important;
	max-height: 200% !important;
	min-height: 200% !important; 
	display: block;
}

div.filter div {
	margin-bottom: 5%;
}
nav.header {
 display: none;
}

nav.bottom {
	position: fixed;
	bottom: 0px;
	background-color: white;
	margin: 0;
	display: block;
}
nav.bottom ul {
	margin: 0;
	background-color: gray;
	border-top: 1px solid gray;
}
nav.bottom ul li {
 width: 20%;
 margin: 0;
 padding: 5px 0 5px 0;
 text-align: center;
 background-color: white;
}

section.filter_page {
	height: 100% !important;
	min-height: 100% !important;
	max-height: 100% !important;
	background-color: red;
}

footer {
	display: none;
}

