
section.mobile_page {
	display: block;
}

div.filter div {
	margin-bottom: 5%;
}

#map_canvas {
  width: 100%;
  display: block;
  padding: 10px 0 0 0;
}
nav.header {
 display: none;
}

nav.bottom_map {
	position: fixed;
  bottom: 0px;
  margin: 0 auto;
  display: block;
}


button.time {
  background-color: red !important;
}
nav.bottom_map ul {
	text-align: left;
   margin: 0;
   background-color:white;
   border-top: 1px solid gray;
   width: 100%;
}
nav.bottom_map ul li {
   display: inline-block !important;
    width: 15.9% !important;
    min-width: auto !important;
    margin: 0;
    font-size: .7em;
    border-left: 1px solid gray;
    padding: 5px 0 5px 2px;
    text-align: center;
    background-color: white;
}

section.filter_page {
	height: 100% !important;
	min-height: 100% !important;
	max-height: 100% !important;
}

footer {
	display: none;
}
