.sprite-coffee{ background-position: 0 0; width: 13px; height: 18px; } 
.sprite-edit{ background-position: -78px 0; width: 9px; height: 9px; } 
.sprite-large_group{ background-position: -152px 0; width: 19px; height: 15px; } 
.sprite-lgbt{ background-position: -236px 0; width: 20px; height: 19px; } 
.sprite-meditation{ background-position: -321px 0; width: 15px; height: 19px; } 
.sprite-mens{ background-position: -401px 0; width: 11px; height: 19px; } 
.sprite-newcomer{ background-position: -477px 0; width: 16px; height: 19px; } 
.sprite-outsiders{ background-position: -558px 0; width: 11px; height: 19px; } 
.sprite-pets{ background-position: -634px 0; width: 15px; height: 15px; } 
.sprite-snacks{ background-position: -714px 0; width: 17px; height: 13px; } 
.sprite-wheelchair{ background-position: -796px 0; width: 15px; height: 19px; } 
.sprite-womens{ background-position: -876px 0; width: 19px; height: 17px; } 
.sprite-young_people{ background-position: -960px 0; width: 15px; height: 19px; } 