/* style.sass */
@font-face {
  font-family: "gotham";
  src: url("../../fonts/Gotham-Book.otf") format("opentype"); }

/*=keyframes($wobble)
 * /*0%  -webkit-transform: translateX(0%) 
 * /*15%  -webkit-transform: translateX(-25%) rotate(-5deg) 
 * /*30%  -webkit-transform: translateX(20%) rotate(3deg) 
 * /*45%  -webkit-transform: translateX(-15%) rotate(-3deg) 
 * /*60%  -webkit-transform: translateX(10%) rotate(2deg) 
 * /*75%  -webkit-transform: translateX(-5%) rotate(-1deg) 
 * /*100%  -webkit-transform: translateX(0%)  */
html {
  font-size: 0.7em; }

body {
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  background-size: auto; }

header h1 {
  position: relative;
  top: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  min-height: 55px;
  font-family: futura;
  text-shadow: 0px 1px 1px black; }

p {
  font-family: helvetica; }

a {
  text-decoration: none;
  color: black !important; }
  a:hover {
    color: inherit; }
  a:visited {
    color: inherit; }
  a:active {
    color: inherit; }

section {
  overflow-x: hidden; }

header.grid-12 {
  background-image: url(../images/headerbackground.png);
  background-repeat: repeat-x;
  background-size: auto 55px;
  box-shadow: 0px 1px 4px black; }

header button {
  min-height: 33px !important; }

button {
  margin: 20px;
  border-style: none; }

button.back {
  background-image: url(../images/back_button.png);
  background-color: transparent;
  border-style: none;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-size: auto;
  margin: 10px 0 0 0; }

button.settings {
  background-image: url(../images/profile.png);
  margin: 10px 0 0 5px;
  background-color: transparent;
  border-style: none;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-size: auto; }

section.signup {
  background-image: url(../images/6.jpg);
  margin: -15px 0 0 0;
  padding: 10px;
  height: 100%;
  color: white;
  text-transform: lowercase; }
  section.signup input {
    margin: 5px 0 0 10px;
    font-size: 1.3em; }
  section.signup h3 {
    font-weight: normal;
    color: white; }

section.filterpage {
  background-image: url(../images/blur.png); }

section.meetinglist {
  background-image: url(../images/7.png); }

button.submit_button {
  color: white !important;
  width: 100px;
  border-radius: 5px;
  background: #e3e3e3;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(175, 202, 206, 0.2), 0), color-stop(rgba(101, 142, 146, 0.5), 1));
  background-image: -webkit-linear-gradient(top, rgba(175, 202, 206, 0.2) 0%, rgba(101, 142, 146, 0.5) 100%);
  box-shadow: inset 0px 0px 8px 4px rgba(91, 62, 86, 0.7), 0px 2px 3px black;
  border: 1px solid rgba(20, 20, 20, 0.4);
  color: #2a2a2a; }
  button.submit_button span.submit_arrow {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(../images/arrow_right.png); }

h1.filterh1 {
  background-color: red; }

.facebook {
  background: transparent; }

.filter {
  color: #2a2a2a;
  padding: 0 0 10px 0; }
  .filter li:hover {
    background: red; }
  .filter h3 {
    text-indent: 30px; }
  .filter ul {
    text-align: center; }
  .filter button {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2ca0ca), color-stop(1, #3eb8e5));
    box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #684549;
    border-radius: 5px;
    color: white;
    font-family: "Open Sans", sans-serif; }
  .filter input {
    width: 90px; }
    .filter input:active {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3eb8e5), color-stop(1, #2ca0ca));
      box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px white; }

button.save {
  background: transparent;
  width: auto; }
  button.save img {
    width: 20px; }

button.directions {
  position: relative;
  background: transparent; }
  button.directions img {
    height: 50px; }

aside.right2_side {
  background: #00c6d4;
  width: 8%;
  height: 85px; }
  aside.right2_side button {
    font-family: "open sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 0 -5px; }

article.filter {
  width: 95%;
  margin: 10px; }
  article.filter div.filter {
    background: -webkit-linear-gradient(top, white 20%, rgba(255, 255, 255, 0.5) 100%);
    border-radius: 5px; }

input.zipcode {
  width: 70px; }

article.meeting_entry {
  margin: 2px 0 2px 0;
  box-shadow: 0px 1px 5px white;
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 100%); }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0; }

hgroup {
  line-height: 0px;
  font-family: "Titillium Web", sans-serif;
  color: #2a2a2a; }

hgroup h4, hgroup h5, hgroup h6 {
  line-height: 0px; }
hgroup h6 {
  line-height: 0px; }

.fellowshipType {
  color: transparent;
  background-image: url(../images/AAicon.png);
  height: 25px;
  width: 25px;
  margin: 5px 0 0 5px;
  background-size: 100% auto;
  background-repeat: no-repeat; }

aside.right_side {
  height: 100%;
  min-height: 60px;
  width: 26.23%; }

.type ul li {
  background-image: url(../images/AAicon.png); }
.type ul button {
  height: 40px;
  text-indent: 0px; }

.timeandday {
  border-top: 10px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  width: 50px;
  height: 30px;
  margin: 5px 0 0 5px;
  color: #2a2a2a;
  background-color: rgba(75, 214, 246, 0.1);
  height: 51px; }

.day li {
  border-top: 10px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  width: 50px;
  height: 30px;
  width: 28px;
  height: 20px;
  margin: 0 0 0 10px;
  font-weight: bold; }

.distance {
  text-align: center;
  font-weight: bold;
  color: gray;
  border-top: 1px solid gray; }

.filter_time li {
  width: 70px;
  height: 65px;
  background-size: 50px auto;
  background-repeat: no-repeat;
  font-weight: bold;
  font-family: "Open Sans", sans-serif; }

time p {
  font-weight: bold;
  line-height: 1px; }

ul.ratings {
  background-color: #d2d20f;
  background-image: -webkit-linear-gradient(top, rgba(237, 202, 221, 0) 0%, rgba(237, 232, 231, 0.2) 100%);
  color: white; }
  ul.ratings li p {
    text-align: left; }
  ul.ratings li:first-child {
    font-size: 0.5em;
    padding: 0;
    margin: 0 0 0 5px;
    background: transparent;
    color: white; }
  ul.ratings li {
    background: url(../images/rating_icon_sprite_black.png) no-repeat top left;
    vertical-align: middle;
    height: 35px; }
    ul.ratings li:active {
      background-color: rgba(75, 214, 246, 0.7); }
  ul.ratings li.snacks {
    background-position: -734px 5px; }
  ul.ratings li.coffee {
    background-position: 0 0; }
  ul.ratings li.fellowship {
    background-position: -477px 0; }
  ul.ratings li.youngpeople {
    background-position: -960px 0; }
  ul.ratings li.vote {
    background-color: #00c6d4;
    background-position: -78px 0;
    width: 17px;
    height: 15px;
    margin: -17px 0 0 0;
    position: relative;
    left: 55px; }

ul.filter_ratings li {
  height: 50px;
  background: url(../images/rating_icon_sprite_black.png) no-repeat top left; }
ul.filter_ratings li p {
  font-weight: bold;
  font-size: 7px;
  margin: 30px 0 0 0;
  width: 40px;
  text-align: center; }
ul.filter_ratings li.snacks {
  background-position: -730px 5px; }
ul.filter_ratings li.coffee {
  background-position: 8px 0; }
ul.filter_ratings li.fellowship {
  background-position: -477px 0; }
ul.filter_ratings li.youngpeople {
  background-position: -960px 0; }
ul.filter_ratings li.large_group {
  background-position: -152px 0; }
ul.filter_ratings li.lgbt {
  background-position: -236px 0px; }
ul.filter_ratings li.meditation {
  background-position: -321px 0; }
ul.filter_ratings li.mens {
  background-position: -401px 0; }
ul.filter_ratings li.newcomer {
  background-position: -477px 0; }
ul.filter_ratings li.outsiders {
  background-position: -558px 0; }
ul.filter_ratings li.pets {
  background-position: -634px 5px; }
ul.filter_ratings li.wheelchair {
  background-position: -809px 0; }
ul.filter_ratings li.womens {
  background-position: -898px 0; }
ul.filter_ratings li.newcomer {
  background-position: -477px 0; }

.leaflet-bottom {
  display: none; }

.mappo {
  height: 70% !important; }

nav .bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: black;
  background-size: 80% auto;
  height: 44px; }
  nav .bottom li:first-child {
    border-left: none; }
  nav .bottom li {
    background-image: -webkit-linear-gradient(top, rgba(237, 202, 221, 0) 0%, rgba(237, 232, 231, 0.2) 100%);
    text-align: center;
    padding: 3px;
    color: white;
    height: 50px; }
  nav .bottom li img {
    height: 25px; }
  nav .bottom li:hover {
    background-color: #0f86ab; }

.grids {
  display: inline-block;
  vertical-align: top;
  overflow: hidden; }

.grid-1 {
  width: 6.15%; }

.grid-2 {
  width: 14.583%; }

.grid-3 {
  width: 22.792%; }

.grid-4 {
  width: 32.25%;
  margin: 0;
  padding: 0; }

.grid-5 {
  width: 39.583%; }

.grid-6 {
  width: 47.917%; }

.grid-7 {
  width: 56.25%; }

.grid-8 {
  width: 64.583%; }

.grid-9 {
  width: 72.917%; }

.grid-10 {
  width: 81.25%; }

.grid-11 {
  width: 89.583%; }

.grid-12 {
  width: 100%;
    width-margin: 0; }

.bottom .grid-3 {
  width: 22.7%; }
