/* style.sass */
html {
  font-size: 0.5em; }

body {
  padding: 0;
  font-family: Gotham;
  text-transform: uppercase;
  font-weight: light; }

header.grid-12 {
  background-image: url(../images/headerbackground.png);
  background-size: 100% auto; }

header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 2px black;
  font-family: Dawning of a new day;
  min-height: 55px; }

button {
  color: white;
  margin: 20px;
  border-style: none;
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc); }

button.back {
  background-image: url(../images/back_button.png);
  background-color: transparent;
  border-style: none;
  min-height: 35px;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-size: auto; }

button.settings {
  background-image: url(../images/profile.png);
  background-color: transparent;
  border-style: none;
  min-height: 35px;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-size: auto; }

article.meeting_entry {
  margin: 5px 0 5px 0;
  box-shadow: 0px 1px 5px black; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0; }

hgroup {
  line-height: 0.4em;
  font-family: helvetica neue; }

hgroup {
  color: #2a2a2a; }

.fellowshipType.AA {
  color: transparent;
  background-image: url(../images/map_thumb.png);
  height: 40px;
  width: 40px;
  background-size: 100% auto; }

time {
  border-top: 5px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 30px;
  width: 30px; }
  time p {
    text-align: center;
    font-weight: bold;
    line-height: 1px; }

ul.ratings li {
  background: url(../images/rating_icon_sprite.png) no-repeat top left;
  color: rgba(0, 0, 0, 0); }
ul.ratings li.snacks {
  background-position: -389px 0;
  width: 42px;
  height: 34px; }
ul.ratings li.coffee {
  background-position: 0 20;
  width: 34px;
  height: 34px; }
ul.ratings li.fellowship {
  background-position: -252px 0;
  width: 48px;
  height: 34px; }
ul.ratings li.youngpeople {
  background-position: -534px 0;
  width: 41px;
  height: 34px; }
ul.ratings li.vote {
  background-position: -39px 0;
  width: 24px;
  height: 34px; }
ul.ratings p.voteNumber {
  color: white;
  background: rgba(0, 0, 0, 0.7); }

nav .bottom {
  text-align: center;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#a8a8a8)); }

.grids {
  display: inline-block;
  vertical-align: top;
  overflow: hidden; }

.grid-1 {
  width: 6.15%; }

.grid-2 {
  width: 14.583%; }

.grid-3 {
  width: 22.917%; }

.grid-4 {
  width: 32.25%;
  margin: 0;
  padding: 0; }

.grid-5 {
  width: 39.583%; }

.grid-6 {
  width: 47.917%; }

.grid-7 {
  width: 56.25%; }

.grid-8 {
  width: 64.583%; }

.grid-9 {
  width: 72.917%; }

.grid-10 {
  width: 81.25%; }

.grid-11 {
  width: 89.583%; }

.grid-12 {
  width: 100%;
    width-margin: 0; }
