<ul class="vertical" id="bottom_nav">
    <a class="dailydose_button" ng-tap="$navigate.go('/dailydose', 'slide')"><li><img class="center_image" src="images/dailyDose_tri.png"></li></a>
    <a class="meetings_button" ng-tap="$navigate.go('/meetings_map', 'slide')"><li><img class="center_image" src="images/map_icon_white.png"></li></a>
    <a class="connect_button" ng-tap="$navigate.go('/connect', 'slide')"><li class="savebutton"><img class="center_image" src="images/claphands.png"></li></a>
    <!--<a class="dailydose_button" ng-tap="$navigate.go('/dailydose', 'slide')"><li><img class="center_image" src="images/dailyDose_tri.png"/></li></a>-->
    <!--<a class="meetings_button" ng-tap="$navigate.go('/meetings_map', 'slide')"><li><img class="center_image" src="images/map_icon_white.png"/></li></a>-->
    <!--<a class="connect_button" ng-tap="$navigate.go('/connect', 'slide')"><li class="savebutton"><img class="center_image" src="images/claphands.png"/></li></a>-->
</ul>