<header ng-include src="views['header']"></header>

<nav>
    <ul class="vertical" id="filter">
        <li class="filterbuttons" id="meetingicon"></li>
        <li class="filterbuttons" id="connecticon"></li>
        <li class="filterbuttons" id="feedicon" ng-tap="$navigate.go('/feed', 'slide')"></li>
    </ul>
</nav>


<div class="dailydose_stats">42</br> points</div>

<div ng-repeat="card in cards" ng-switch="card.cardType">
    <!--<div ng-switch-when="dailydose" ng-include src="views.cards['test']"></div>-->
    <ng-include ng-switch-when="dailydose-word_choice" src="views.cards['dailydose-word_choice']"></ng-include>
    <ng-include ng-switch-when="dailydose-fill_in" src="views.cards['dailydose-fill_in']"></ng-include>
    <ng-include ng-switch-when="dailydose-other" src="card.src"></ng-include>
    <article ng-switch-when="blank"></article>
</div>


<nav class="bottom_nav" ng-include src="views['footer']"></nav>

