<header ng-include src="views['header']"></header>

<nav>
    <ul class="vertical" id="filter">
        <li class="filterbuttons" id="listicon" ng-tap="$navigate.go('/meetings_list', 'slide')"></li>
        
        <!--<li class="filterbuttons" id="backicon" ng-tap="$navigate.back()"></li>-->
    </ul>
</nav>

<div id="meetings_tab">
    <article class="filter">
        <h1>filter your meetings</h1>
        <input class="search" placeholder="search" />
        <input class="zipcode" placeholder="city, state, or zip" />


        <ul class="left_align">
            <li class="infoblock" >
                <h2>fellowship type</h2>
                <button>alcoholics</button>
                <button>gambling</button>
                <button>overeating</button>
                <button>narcotics</button>
            </li>


            <li class="infoblock" >
                <h2>meeting badges</h2>
                <aside class="badges filter">
                    <img src="images/hetero_icon.png"/>
                    <img src="images/champagne_icon.png"/>
                    <img src="images/cannabis_icon.png"/>
                    <img src="images/wheelchair.png"/>
                    <img src="images/award_icon.png"/>
                    <img src="images/large_group.png"/>
                    <img src="images/coffee-cup-icon.png"/>

                </aside>
            </li>

            <li class="infoblock" id="daypicker">
                <h2>day</h2>
                <span class="day" id="mon" >MON</span>
                <span class="day" id="tue">TUE</span>
                <span class="day" id="wed">WED</span>
                <span class="day" id="thur">THUR</span>
                <span class="day" id="fri">FRI</span>
                <span class="day" id="sat">SAT</span>
                <span class="day" id="sun">SUN</span>
            </li>

            <li class="infoblock" >
                <h2>time</h2>
                <aside id="daytime">
                    <img id="morning" src="images/morning.png"/>
                    <img id="midday" src="images/midday.png"/>
                    <img id="evening" src="images/evening.png"/>
                    <img id="night" src="images/night.png"/>
                </aside>
            </li>
        </ul>
        <button type="submit" ng-tap="$navigate.back()">submit</button>
    </article>
</div>

<nav class="bottom_nav" ng-include src="views['footer']"></nav>
