<nav>
	<!--<button class="feedback_button">feedback</button>-->
    <ul class="bottom">
        <li class="grid-3 map" ng-tap="$navigate.go('/map', 'slide')"><img src="images/map_icon.png"><br/>map</li>
        <li class="grid-3 filter" ng-tap="$navigate.go('/filter', 'slide')"><img src="images/search_icon.png"><br/>search</li>
        <li class="grid-3 saved" ng-tap="$navigate.go('/meetingfavorites', 'slide')"><img src="images/save_icon.png"><br/>saved</li>
        <li class="grid-3 rate" ng-tap="$navigate.go('/rate', 'slide')"><img src="images/rate_icon.png"><br/>rate</li>
    </ul>
</nav>