<nav>
    <ul class="bottom">
        <li class="grid-3 map" ng-tap="$navigate.go('/map', 'slide')"><img src="images/map_icon.png"><br/>map</li>
        <li class="grid-3 filter" ng-tap="$navigate.go('/filter', 'modal')"><img src="images/search_icon.png"><br/>search</li>
        <li class="grid-3 saved" ng-tap="$navigate.go('/meetingsaved', 'modal')"><img src="images/save_icon.png"><br/>saved</li>
        <li class="grid-3 list" ng-tap="$navigate.go('/meetinglist', 'modal')"><img src="images/list_icon.png"><br/>list</li>
    </ul>
</nav>