<article class="grids grid-12 meeting_entry">
    <!--TODO: fellowship id-->
    <aside class="grids grid-1 fellowshipType {{getFellowshipID(meeting.fellowship.name)}}">{{getFellowshipID(meeting.fellowship.name)}}</aside>
    <hgroup class="grids grid-7">
        <h3>{{meeting.title}}</h3>
        <h4>{{meeting.latLon.locationName}}</h4>
        <h4>{{parseAddress(meeting.address,1)}}</h4>
        <h4>{{parseAddress(meeting.address,2)}}</h4>
    </hgroup>

    <aside class="grids grid-4 right_side">

        <div class="timeandday">
            <p>{{formatTime(meeting.time)}}</p>
            <p>{{formatDay(meeting.day)}}</p>
            <p>{{formatDistance(meeting.distance)}}</p>
        </div>

    </aside>

    <aside class="grids grid-3 right2_side">
        <button class="grids grid-5 save" type="submit" ng-tap="addFavorite()"><img ng-src="{{getStarImgSrc(meeting.isFavorite)}}"></button>
        <button class="grids directions" type="submit"><a href="https://maps.google.com/maps?daddr={{meeting.address}}"><img src="../images/arrow.png"></a></button>
    </aside>


    <ul class="grids grid-12 ratings">
        <li><h3>meeting stats&nbsp;</h3></li>
        <li ng-repeat="rating in meeting.ratings"
            class="grids grid-2 {{getCssClass(rating)}}">
            {{rating.text}}
            <p class="voteNumber">{{rating.votes}}</p>
        </li>
        <li class="grids grid-3 vote">vote</li>
    </ul>
</article>