@font-face {
	font-family: 'Gotham';
	src: url("http://www.addicaid.org/app/fonts/Gotham-Book.otf");
	
}

@font-face {
	font-family: 'Damion';
	src: url("http://www.addicaid.org/app/fonts/Damion-Regular.ttf");
	
}

@font-face {
	font-family: 'Mensch';
	src: url("http://www.addicaid.org/app/fonts/mensch.ttf");
	
}


@font-face {
	font-family: 'Ronda';

	src: url("http://www.addicaid.org/app/fonts/Ronda.ttf");
	
}



@font-face {
	font-family:'AddElectricCity';

	src: url("http://www.addicaid.org/app/fonts/ael.ttf");
	
}

