@font-face {
	font-family: 'Gotham';
	src: url("http://www.addicaid.org/app/fonts/Gotham-Book.otf");
	
}

@font-face {
	font-family: 'Damion';
	src: url("http://www.addicaid.org/app/fonts/Damion-Regular.ttf");
	
}