<section class="filterpage">
    <article class="grids grid-12 filter">

        <ul class="options filter">
            <li  class="map_top"ng-tap="$navigate.go('/filter', 'slide')"><button class="map_top">filter</button></li>
            <li class="grid-6 input"><input class="grid-12" type="text" placeholder="search"/></li>
            <li class=" map_top" ng-tap="$navigate.go('/meetingList', 'slide')"><button class="map_top">list</button></li>
        </ul>

        <div class="filter filter_fellowship">
            <h3>fellowship type</h3>
            <ul class="grids grid-12">
                <li ng-repeat="fellowship in filters.fellowships"
                    ng-tap="fellowship.selected=!fellowship.selected"
                    class="grids grid-5 FilterToggle fellowshipkind" ng-class="fellowship.cssClass"
                    ui-show="fellowship.selected">
                    <span class="fellowshipType {{fellowship.cssClass}}">{{fellowship.text}}</span>
                    <!--<img src="{{fellowship.imgSrc}}" />-->
                    <!--{{fellowship.text}}-->
                </li>
            </ul>
        </div>

        <div class="filter filter_where">
            <h3>where</h3>

            <ul class="grids grid-12 filter_where">
                <li>

                    <input type="field" class="miles" placeholder="5 miles"
                           ng-model="filters.location.radius"
                           ng-pattern="/\d+/" />
                    <button class="FilterToggle from_here"
                                   ng-tap="filters.location.useCurrentLocation=!filters.location.useCurrentLocation"
                                   ui-show="filters.location.useCurrentLocation"> from here</button>
                </li>

                <li >
                    <span class="or">or</span>&nbsp;&nbsp;
                    <input type="field" class="zipcode" placeholder="zip code"
                           ng-model="filters.location.zip"
                           ng-minlength="5" ng-maxlength="5" ng-pattern="/\d{5}/" />
                </li>
            </ul>

        </div>

        <div class="filter filter_day">
            <h3>day</h3>
            <ul class="grids grid-12 filter_day">
                <li ng-repeat="day in filters.days" ng-tap="day.selected=!day.selected"
                    ui-show="day.selected">
                    {{day.text}}
                </li>
            </ul>
        </div>

        <div class="filter filter_time">
            <h3>time</h3>
            <ul class="grids grid-12 filter_time">
                <li ng-repeat="time in filters.times" ng-tap="time.selected=!time.selected"
                    ui-show="time.selected" class="FilterToggle">
                    <img height="25px" ng-src="{{getImgSrc(time)}}" />
                    <br/>
                    {{time.text1}}<br/>
                    {{time.text2}}
                </li>
            </ul>
        </div>

        <div class="filter">
            <h3>ratings</h3>
            <ul class="grids grid-12 filter_ratings">
                <li ng-repeat="rating in filters.ratings" class="grids grid-2 FilterToggle"
                    ui-show="rating.selected"
                    ng-tap="rating.selected=!rating.selected">
        
                    <h4>{{rating.text}}</h4>
                </li>
            </ul>
        </div>
        <!--<a ng-tap="submitFilter()">-->
        <!--<button type="submit" class="submit_button filter_submit"><span class="submit_text">submit</span><span class="submit_arrow"></span></button>-->
        <!--</a>-->

    </article>

    <button type="submit" class="filter submit_simple"><span class="submit_text">submit</span><span class="submit_arrow"></span></button>
</section>