<section class="view signup">

    <div class="bigdealcontainer">
        <div class="words"><span class="word1">
I</span> <span class="word2">don't</span> <span class="word3">know</span> <span class="word4">if</span> <span class="word5">you</span> <span class="word6">know</span> <span class="word7">this,</span> <span class="word8">but...</span> <span class="word9">you</span> <span class="word10">are</span> <span class="word11">doing</span> <span class="word12">a</span> <span class="word13">great</span> <span class="word14">job!
</span> </div>
        <div class="meta">

            <p ng-tap="$navigate.go('/map', 'slide')"><button class="submit_simple get_started">Let's get started!</button></p>
        </div>
    </div>
</section>