<ul class="options">
    <li  class="map_top"ng-tap="$navigate.go('/filter', 'slide')"><button class="map_top">filter</button></li>
    <li class="grid-6"><input class="grid-12" type="text" placeholder="search" /></li>
    <li class=" map_top" ng-tap="$navigate.go('/meetingList', 'slide')"><button class="map_top">list</button></li>
</ul>

<div leaflet-map="mapid"
     leaflet-options="mapOptions"
     class="mapclass">
</div>


<div class="invisible">
    <leaflet-marker
            ng-repeat="meeting in meetings"
            leaflet-lat="meeting.latLon.latitude"
            leaflet-lng="meeting.latLon.longitude"
            marker-options="meeting.markerOptions"
            leaflet-map="mapid"
            popup-content-function="markerPopupContentFn"
            popup-content-options="markerPopupContentOpts"
            model="meeting">
    </leaflet-marker>
    <!--ui-event="{'map-click': 'openMarkerInfo(marker)'}"-->
</div>





<!--<style>-->
<!--.mapclass {-->
<!--height: 90%;-->
<!--top: 0px;-->
<!--}-->
<!--</style>-->