<section class="ratepage">
  <div class="bigdealcontainer">
        <div class="words"><!--<span class="word1">
That</span>was<span class="word2">awesome</span> <span class="word3">so</span> <span class="word4">heres</span> <span class="word5">100 points</span> <span class="word6">know</span> <span class="word7">this,</span> <span class="word8">but...</span>--> <span class="word9">100 points</span> <span class="word10">are</span><span class="word11"> yours</span><span class="word12">providing</span><span class="word13">information</span> <span class="word14">thanks!
</span> </div>
        <div class="meta">
        </div>
    </div>

    <ol id="spincontainer">
        <!-- START GENERATED CODE -->
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <li><div></div><div></div></li>
        <!-- END GENERATED CODE -->
    </ol>
</section>