/* style.sass */
$experimental-support-for-mozilla : true !default
$experimental-support-for-webkit : true !default
$support-for-original-webkit-gradients : true !default
$experimental-support-for-opera : true !default
$experimental-support-for-microsoft : true !default

$main-color: #2A2a2a
$white: #FFFFFF

@font-face
 font-family: "gotham"
 src: url('../../fonts/Gotham-Book.otf') format('opentype')

@mixin backgrounds
 background-color: transparent
 border-style: none
 min-height: 20px
 background-repeat: no-repeat
 background-size: 80% auto

@mixin calendar
 border-top: 10px solid black
 border-left: 1px solid black
 border-right: 1px solid black
 border-bottom: 1px solid black
 text-align: center
 width: 50px
 height: 30px

@mixin minimal
 background: #e3e3e3
 border: 1px solid #bbb
 border-radius: 3px
 -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6
 box-shadow: inset 0 0 1px 1px #f6f6f6
 color: #333
 text-align: center
 text-shadow: 0 1px 0 #fff

@mixin rounded
 border-radius: 10px

@mixin gradient
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#a8a8a8))

@mixin gradient-blue
 background-image: -webkit-linear-gradient(top, #0088cc, #0044cc)

=keyframes($name)


/*=keyframes($wobble) 
  /*0%  -webkit-transform: translateX(0%) 
  /*15%  -webkit-transform: translateX(-25%) rotate(-5deg) 
  /*30%  -webkit-transform: translateX(20%) rotate(3deg) 
  /*45%  -webkit-transform: translateX(-15%) rotate(-3deg) 
  /*60%  -webkit-transform: translateX(10%) rotate(2deg) 
  /*75%  -webkit-transform: translateX(-5%) rotate(-1deg) 
  /*100%  -webkit-transform: translateX(0%) 

html
 font-size: .7em 

body
 padding: 0
 font-family: Gotham
 text-transform: uppercase
 background-image: url(../images/6.jpg)
 background-size: 480px 800px

header
 h1 
  position: relative
  color: red
  top: 15px
  margin: 0
  padding: 0
  text-align: center
  color: white
  min-height: 55px
  font-family: gotham
p
 font-family: helvetica

a
 text-decoration: none
 color: black !important

 &:hover
  color: inherit
 &:visited
  color: inherit
 &:active
  color: inherit


header.grid-12
 background-image: url(../images/headerbackground.png)
 background-size: 100% auto
 box-shadow: 0px 1px 4px black

header
 button
  min-height: 35px !important

button
 color: white
 margin: 20px
 border-style: none

button.back
 background-image: url(../images/back_button.png)
 @include backgrounds
 background-size: auto

button.settings
 background-image: url(../images/profile.png)
 margin: 5px 0 0 5px
 @include backgrounds
 background-size: auto

aside
 button
  text-indent: 7px
  font-family: gotham
  text-transform: uppercase
  margin: 4px 0 4px 9px
  @include backgrounds
  @include minimal 
  background-position: 0 2px
  background-repeat: no-repeat

.filter
 button
  @include minimal


button.directions

 background-image: url(../images/directions_icon.png)

 background-size: 35% auto
 height: 10px
 padding: 0px

button.save
 background-image: url(../images/save_icon.png)
 background-size: 35% auto



article.meeting_entry
 margin: 5px 0 5px 0
 box-shadow: 0px 1px 5px black

ul
 padding: 0
 margin: 0

ul li
 list-style-type: none
 display: inline-block
 vertical-align: top
 padding: 0
 margin: 0

hgroup 
 line-height: .4em
 font-family: gotham

hgroup 
 h1 h2 h3 
 color: $white
 text-shadow: 0px 1px 2px black

.fellowshipType
 color: transparent
 background-image: url(../images/AAicon.png)
 height: 25px
 width: 35px
 margin: 5px 0 0 5px
 background-size: 100% auto

.timeandday
 @include calendar
 margin: 5px 0 0 35px

.day li
 @include calendar
 width: 30px
 height: 20px
 margin: 0 0 0 10px

.filter_time
 margin: 0 0 0 20px
 li
  background-image: url(../images/clock.png)
  width: 70px
  height: 60px
  background-size: 50px auto
  background-repeat: no-repeat
 
time 
 p
  font-weight: bold
  line-height: 1px

ul.ratings
 background-color: rgba(0,120,255,0.2)

 li
  p
   text-align: left

 li:first-child
  font-size: .5em
  padding: 0
  margin: 0 0 0 5px
  background: transparent
  color: $white
 
 li
  background: url(../images/rating_icon_sprite.png) no-repeat top left
  vertical-align: middle
  height: 30px


  &:active
   background-color: red

 li.snacks
  background-position: -734px 5px
   

 li.coffee
  background-position: 0 0 
   

 li.fellowship
  background-position: -477px 0
  

 li.youngpeople
  background-position: -960px 0
  
  
 li.vote
  background-position: -78px 0
  width: 14px
  height: 13px

ul.filter_ratings
 li 
  height: 40px
  background: url(../images/rating_icon_sprite.png) no-repeat top left

 li.snacks
  background-position: -714px 5px
   
 li.coffee
  background-position: 0 0 

 li.fellowship
  background-position: -477px 0
  

 li.youngpeople
  background-position: -960px 0
  
  
 li.large_group
  background-position: -152px 0

 li.lgbt
  background-position: -236px 5px
   

 li.meditation
  background-position: -321px 0 
   
 li.mens
  background-position: -401px 0
  

 li.newcomer
  background-position: -477px 0
  
  
 li.outsiders
  background-position: -558px 0

 li.pets
  background-position: -634px 5px
   

 li.wheelchair
  background-position: -796 0 
   

 li.womens
  background-position: -876px 0
  

 li.newcomer
  background-position: -477px 0
  
  
.leaflet-bottom
 display: none

.mappo
 height: 70% !important

nav 
 .bottom
  position: fixed
  bottom: 0px
  width: 100% 
  background-image: url(../images/navbottom.png)
  height: 44px
  li
   background: url(../images/bottom_sprites.png) no-repeat top left
   text-align: center
   height: 38px
   padding: 3px
  li.map
   background-position: 20px -66px
   height: 38px
   background-color: rgba(20,20,20,0.5)
  li.filter
   background-position: 25px -134px
   height: 38px
   background-color: rgba(210,120,20,0.5)
  li.saved
   background-position: 25px -202px
   height: 38px
   background-color: rgba(0,120,20,0.5)
  li.list
   background-position: 25px 2px
   height: 38px
   background-color: rgba(220,20,20,0.5)

.grids
 display: inline-block
 vertical-align: top
 overflow: hidden

.grid-12

.grid-1 
 width: 6.15%

.grid-2 
 width: 14.583%

.grid-3 
 width: 22.792%

.grid-4
 width: 32.25%
 margin: 0
 padding: 0

.grid-5 
 width: 39.583%

.grid-6
 width: 47.917%

.grid-7 
 width: 56.25%

.grid-8
 width: 64.583%

.grid-9 
 width: 72.917%

.grid-10 
 width: 81.25%

.grid-11 
 width: 89.583%

.grid-12 
 width: 100%
  margin: 0




 
 


 


