/* style.sass */
$experimental-support-for-mozilla : true !default
$experimental-support-for-webkit : true !default
$support-for-original-webkit-gradients : true !default
$experimental-support-for-opera : true !default
$experimental-support-for-microsoft : true !default

$main-color: #2A2a2a
$main: #fff
$bordercolor: rgba(15,32,36,1)
$topcolor: rgba(175,202,206,0.2)
$bottomcolor: rgba(101,142,146,0.5)
$innercolor: rgba(91,62,86,0.7)
$teel: #00c6d4
$teel_light: #00c6d4

@font-face
 font-family: "open sans"
 src: url('../../fonts/open sans-Book.otf') format('opentype')

@mixin backgrounds
 background-color: transparent
 border-style: none
 min-height: 20px
 background-repeat: no-repeat
 background-size: 80% auto

@mixin calendar
 border-top: 10px solid black
 border-left: 1px solid black
 border-right: 1px solid black
 border-bottom: 1px solid black
 border-radius: 5px
 text-align: center
 width: 50px
 height: 30px

$topcolor: rgba(249,47,5,1)
$bottomcolor: rgba(219,87,5,1)
$shadowtop: rgba(219,31,5,1)
$shadowbottom: rgba(0,0,0,.7)
$buttonbackground: rgba(219,87,5,1)


@mixin gradientbutton
 background: #e3e3e3
 border-radius: 3px
 -moz-box-shadow: 0px 5px 0px $shadowtop, 0px 9px 25px $shadowbottom
 box-shadow: 0px 5px 0px $shadowtop, 0px 9px 25px $shadowbottom
 background-color: $buttonbackground
 background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, $topcolor), color-stop(1, $bottomcolor) )

@mixin gradientaa
 $bottomcolor: rgba(9,157,211,1)
 $topcolor: rgba(9,107,131,1)
 $shadowtop: rgba(9,71,101,1)
 $shadowbottom: rgba(0,0,0,.7)
 $buttonbackground: rgba(19,7,5,1)
 border-radius: 3px
 -moz-box-shadow: 0px 5px 0px $shadowtop, 0px 9px 25px $shadowbottom
 box-shadow: 0px 5px 0px $shadowtop, 0px 9px 25px $shadowbottom
 background-color: $buttonbackground
 background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, $topcolor), color-stop(1, $bottomcolor) )

@mixin gradientna
 $bottomcolor: rgba(255,3,5,1)
 $topcolor: rgba(180,3,5,1)
 $shadowtop: rgba(129,1,5,1)
 $shadowbottom: rgba(0,0,0,.7)
 $buttonbackground: rgba(219,87,5,1)
 border-radius: 3px
 -moz-box-shadow: 0px 5px 0px $shadowtop, 0px 9px 25px $shadowbottom
 box-shadow: 0px 5px 0px $shadowtop, 0px 9px 25px $shadowbottom
 background-color: $buttonbackground
 background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, $topcolor), color-stop(1, $bottomcolor) )

@mixin gradientbutton_active
 -webkit-box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom
 -moz-box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom
 box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom
 position: relative
 top: 6px

@mixin gradientbutton_lime
 $bottomcolor: rgba(225,243,85,1)
 $topcolor: rgba(165,163,75,1)
 $shadowtop: rgba(125,123,45,1)
 $shadowbottom: rgba(0,0,0,.7)
 $buttonbackground: rgba(165,163,75,1)
 border-radius: 5px !important
 background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, $topcolor), color-stop(1, $bottomcolor) )
 -webkit-box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom
 -moz-box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom
 box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom

@mixin gradientbutton_lime__important
 $bottomcolor: rgba(225,243,85,1)
 $topcolor: rgba(165,163,75,1)
 $shadowtop: rgba(125,123,45,1)
 $shadowbottom: rgba(0,0,0,.7)
 $buttonbackground: rgba(165,163,75,1)
 border-radius: 5px !important
 background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, $topcolor), color-stop(1, $bottomcolor) ) !important
 -webkit-box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom !important
 -moz-box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom !important
 box-shadow: 0px 3px 0px $shadowtop, 0px 3px 6px $shadowbottom !important

@mixin gradientlight
 background-color: black
 $bottomcolor: rgba(237,232,231,0.4)
 $topcolor: rgba(237,202,221,0.1)
 background-image: -webkit-linear-gradient(top, $topcolor 0%, $bottomcolor 100%)

=keyframes($name)
/*=keyframes($wobble) 
  /*0%  -webkit-transform: translateX(0%) 
  /*15%  -webkit-transform: translateX(-25%) rotate(-5deg) 
  /*30%  -webkit-transform: translateX(20%) rotate(3deg) 
  /*45%  -webkit-transform: translateX(-15%) rotate(-3deg) 
  /*60%  -webkit-transform: translateX(10%) rotate(2deg) 
  /*75%  -webkit-transform: translateX(-5%) rotate(-1deg) 
  /*100%  -webkit-transform: translateX(0%) 

html
 font-size: .7em
 -webkit-font-smoothing: antialiased

body
 padding: 0
 font-family: 'open sans', sans-serif
 -webkit-font-smoothing: antialiased
 text-transform: uppercase
 background-size: auto

header
 h1 
  position: relative
  text-transform: capitalize
  top: 15px
  margin: 0
  padding: 0
  text-align: center
  color: white
  min-height: 55px
  text-shadow: 0px 1px 1px black
p
 font-family: helvetica

a
 text-decoration: none
 color: black !important

 &:hover
  color: inherit
 &:visited
  color: inherit
 &:active
  color: inherit

section
 overflow-x: hidden

header.grid-12
 background-image: url(../images/headerbackground.png)
 background-repeat: repeat-x
 background-size: auto 55px
 box-shadow: 0px 1px 4px black

header
 button
  min-height: 33px !important

button
 margin: 20px
 border-style: none

button[type="submit"]
 &:active
  @include gradientbutton_active
 

button.back
 background-image: url(../images/back_button.png)
 @include backgrounds
 background-size: auto
 margin: 10px 0 0 0

button.settings
 background-image: url(../images/profile.png)
 margin: 10px 0 0 5px
 @include backgrounds
 background-size: auto
 width: 12%

section.signup
 background-image: url(../images/6.jpg)
 margin: 0 auto
 text-align: center
 padding: 10px
 height: 100%
 color: white
 text-transform: lowercase
 input
  margin: 2px 0 7px 0
  font-size: 1.3em
  width: 90%
 h3
  font-weight: normal
  color: white

section.filterpage
 background-image: url(../images/blur.png)
section.meetinglist
 background-image: url(../images/blur.png)
 height: 100%


section.meetinglist
 background-image: url(../images/blur.png)

button.submit_button 
 color: white !important
 width: 58%
 border-radius: 5px
 @include gradientbutton
 span.submit_arrow
  display: inline-block
  height: 20px
  width: 20px
  background-image: url(../images/arrow_right.png)
 

h1.filterh1 
 background-color: red

.facebook
 margin: 0 0 0 0px
 background: transparent
 h3
  position: relative
  top: -40px
  text-shadow: 0px 1px 1px black

.filter
 color: $main-color
 padding: 0 0 10px 0
 h3
  text-indent: 30px
 ul
  text-align: center
 button.filter_submit
  border-radius: 5px
  color: white
  font-family: 'open sans', sans-serif
  margin: 10px 0 50px 0%
  width: 100%

.submit_text
 text-transform: uppercase
 position: relative
 top: -5px
 left: -5px


 input
  width: 90px

  &:active
   background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(62,184,229)), color-stop(1, rgb(44,160,202)) )
   box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff

button.save
 background: transparent
 width: auto
 img 
  width: 20px

button.directions
 position: relative
 background: transparent
 a
 img
  height: 50px

aside.right2_side
 width: 8.5%
 height: 85px
 margin: 0 0 0 -5px
 button
  font-family: 'open sans', sans-serif
  text-transform: uppercase
  margin: 0 0 0 -7px

article.filter
 width: 95%
 margin: 10px
 h3
  margin: 10px 0 0 0
 button
  &:active
   @include gradientbutton_lime
 div.filter
  background: -webkit-linear-gradient(top, white 20%, rgba(255,255,255,.5) 100%)
  border-radius: 5px
 div.filter_where
  font-weight: bold
  vertical-align: middle
  ul.filter_where
   vertical-align: middle
   span.or
    vertical-align: top
 input.miles
  width: 30px

 button.here
  @include gradientlight
  width: 52px
  height: 20px
  background-size: 60px auto
  text-align: left
  padding: 0
  span.hereicon
   height: 15px
   padding: 0 2px 0 0
   display: inline-block
   width: 20px
   background-image: url(../images/here_icon.png)
   background-size: 20px auto
   background-repeat: no-repeat

input.zipcode 
 width: 70px

article.meeting_entry
 width: 100%
 margin: 7px 0 0 2%
 box-shadow: 0px 1px 5px white
 background: -webkit-linear-gradient(top, white 20%, rgba(255,255,255,.5) 100%)
 border-radius: 5px

ul
 padding: 0
 margin: 0

ul li
 list-style-type: none
 display: inline-block
 vertical-align: top
 padding: 0
 margin: 0

hgroup 
 line-height: 0px
 text-transform: capitalize
 font-family: 'open sans', sans-serif
 color: $main-color

hgroup
 h4, h5, h6
  line-height: 0px
 h6
  line-height: 0px

.fellowshipType
 color: transparent
 height: 28px
 min-width: 28px
 margin: 5px 0 0 5px
 background-size: 31px auto
 background-repeat: no-repeat
 &.AA
  background-image: url(../images/AAcircle.png)
 &.NA
  background-image: url(../images/NAcircle.png)

aside.right_side
 height: 100%
 min-height: 60px
 width: 23.7%

div.filter_fellowship
 height: 70px
 ul
  height: 70px
  li
   height: 50px
   width: 45%
   margin: 0 10px 0 0
   text-shadow: 0px 1px 1px black
   font-weight: bold
   text-transform: uppercase
   height: 30px
   text-indent: 0px
   &.AA
    @include gradientaa
   &.NA
    @include gradientna



.FilterToggle.ui-show
 @include gradientbutton_lime__important


.timeandday
 margin: -5px 0 0 0px
 color: $main-color
 height: 79px
 background-repeat: no-repeat
 background-image: url(../images/calendar.png)
 text-align: left
 p
  font-weight: bold
  line-height: 1px
  text-align: center
  width: 60px
  position: relative
  top: 20px



ul.filter_day li
 background-image: url(../images/calendar_sprite.png)
 width: 30px
 height: 24px
 text-align: center
 padding: 7px 0 0 0
 margin: 0 0 0 7px
 font-weight: bold
 &.ui-show
  background-position: 0px 30px

div.filter_time
 height: 75px
 h3
  margin: 10px 0 0 0
ul.filter_time
 li
  width: 70px
  height: 60px
  padding: 5px 0 5px 0
  font-size: .7em
  background-size: 70px auto
  background-repeat: no-repeat
  font-weight: bold
  font-family: 'open sans', sans-serif
  &.ui-show
   height: 45px


ul.ratings
 border-top: 1px solid gray
 color: $main
 vertical-align: top

 li:first-child
  font-size: .7em
  width: 40px
  padding: 0
  margin: 0 0 0 5px
  background: transparent
  color: $main_color
  h3
   margin: 5px 0 0 0
 
 li
  background: url(../images/rating_icon_sprite_black.png) no-repeat top left
  vertical-align: middle
  height: 35px

 li.snacks
  background-position: -734px 5px
 li.coffee
  background-position: 0 0
 li.fellowship
  background-position: -477px 0
 li.youngpeople
  background-position: -990px 0


 p.voteNumber
  color: $main_color
  text-align: center
  font-weight: bold
  background-color: rgba(250,250,245,.7)
  box-shadow: inset 0px 0px 1px 2px rgba(150,136,155,.2), inset 0px 1px 4px 4px rgba(150,130,185,.5), 0px 1px 2px 2px rgba(202,170,235,.5), 0px 1px 4px 4px rgba(222,229,223,.4) 
  width: 30px
  position: relative
  top: -11px
  left: 30px
  -webkit-animation: wobble 2s linear 0s alternate
  &:active
   background-color: rgba(75,214,246,0.7)



 li.vote
  background-color: rgba(250,250,245,.7)
  box-shadow: inset 0px 0px 1px 2px rgba(150,136,155,.2), inset 0px 1px 4px 4px rgba(150,130,185,.5), 0px 1px 2px 2px rgba(202,170,235,.5), 0px 1px 4px 4px rgba(222,229,223,.4)
  background-position: -78px 0
  width: 45px
  height: 15px
  position: relative
  top: -10px
  font-weight: bold
  text-align: right
  color: $main_color

ul.filter_ratings
 li 
  height: 45px
  padding: 2px
  img
   height: 20px
  p
   font-weight: bold
   font-size: 7px
   width: 40px
   text-align: center
   padding: 0 0 0 10px
   
.leaflet-bottom
 display: none

nav
 .bottom
  position: fixed
  bottom: 0px
  width: 100% 
  background-color: black
  background-size: 80% auto
  height: 44px
  li:first-child
   border-left: none
  li
   @include gradientlight
   text-align: center
   padding: 3px
   color: white
   height: 50px

  li
   img
    height: 25px

   &:hover
    background-color: rgba(15,134, 171,1)

section.profile
 background-image: url(../images/profile.jpg)
 color: red
 height: 100%
 background-size: 100% auto

.grids
 display: inline-block
 vertical-align: top
 overflow: hidden

.grid-12

.grid-1 
 width: 6.15%

.grid-2 
 width: 14.583%

.grid-3 
 width: 22.792%

.grid-4
 width: 32.25%
 margin: 0
 padding: 0

.grid-5 
 width: 39.583%

.grid-6
 width: 47.917%

.grid-7 
 width: 56.25%

.grid-8
 width: 64.583%

.grid-9 
 width: 72.917%

.grid-10 
 width: 81.25%

.grid-11 
 width: 89.583%

.grid-12 
 width: 100%
  margin: 0

nav
.bottom
 .grid-3
  font-size: .7em
  width: 22.2%
  margin: 0
