<div class="headline aboutus">
	<hgroup>
		<h1>We're addicts, engineers, artists, + hustlers</h1><br/>
		<h2>And we're past our Ballmer Peak, switching from beer to mountain dew</h2>
		<h3>Looking for cool people like you to help make this world a substantially less substance abusive place</h3>
	</hgroup>
</div>
<div class="container">

<div class="team">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<h3 class="abouthead">OUR TEAM</h3>
	</div>


<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 person">
	<h4><img src="images/samcircle1.png"/><span class="name">Sam Frons: <i>founder | CEO</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/samfrons"></a>
		<a class="social linkedin_link" target="_blank" href="http://www.linkedin.com/in/samfrons"></a>
	</span></h4>

<p>Sam has almost as many years of experience in UI/UX/art/design as she does binge drinking. She's been in recovery four 4 years and is an ardent supporter of The Technological Singularity, loves pool and ping pong and wants to return to competitive fencing - time permitting.
</p>
</div>

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 person person">
	<h4><img src="images/matt.png"/><span class="name"> Matt Kleiman: <i>co-founder | CTO</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/fotomut"></a>
		<a class="social linkedin_link" target="_blank" href="http://www.linkedin.com/in/matthewkleiman?trk=pub-pbmap"></a>
	</span></h4>

<p>Matt has been a full-stack engineer for 9 years and has been clean and sober for 8 of them, previously working at Morgan Stanley, FactSet, and the US Army. Matt's passionate about helping other addicts, especially young people who have come to rely upon mobile technology to solve their problems. He is also an aspiring D&D Dungeon Master.</p>
</div>
</div>


<div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 person offset1">
	<h4><img src="images/christiancircle.png"/><span class="name">Christian Flores: <i>growth hacker</i><br/>
		<a class="social twitter_link" target="_blank" href=""></a>
		<a class="social linkedin_link" target="_blank" href=""></a>
	</span>
	</h4>
<p>Christian only intended on coming to NYC for a weekend.  In 48 hours he found a job, an apartment, and subsequently never left.  Currently working as a web strategist in NYC, he doesn't have nearly as much time to flyfish and surf as he used to but he's working towards a guiding license to take people out fly fishing on weekends.</p>
</div>

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 person">
	<h4><img src="images/vishesh.png"/><span class="name">Vishesh Duggar: <i>engineer</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/causecode"></a>
		<a class="social linkedin_link" target="_blank" href=" http://linkd.in/vishesh"></a>
	</span>
	</h4>
<p>Vishesh has a masters in Computer Science from Northeastern and is entrepreneurial at heart. He is the CEO at <a href="http://causecode.com/">CauseCode Technologies</a> which has helped startups like AltruHelp, WeAreCurious, ClothesCritics to name a few. His mission is to help high impact startups reach steady waters. </p>
</div>


</div>
<hr/>
<div class="clearfix"></div>
<div class="advisors">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 offset1">
	<h3 class="abouthead">OUR ADVISORS</h3>

</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 person">
	<h4><img src="images/marccircle1.png"/><span class="name">Marc Frons: <i>CIO, New York Times</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/marcfrons"></a>
		<a class="social linkedin_link" target="_blank" href="http://www.linkedin.com/in/frons"></a>
	</span></h4>

<p>Marc was named chief information officer for <a href="http://nytimes.com">The New York Times</a> Company in March 2012, previously serving as CTO of The New York Times Media Group since 2006. From 2003 to 2006 he worked at Dow Jones & Co., leaving as VP and chief technology officer for its Consumer Media Group. He worked at AOL Time Warner from 2002 to 2003, first as VP and GM of AOL Personal Finance and then as consulting editor for CNN Money.</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 person">
	<h4><img src="images/briancircle1.png"/><span class="name">Brian Alvey: <i>founder & Chief Scientist, <a href="http://www.ceros.com/">Ceros Labs</a></i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/brianalvey"></a>
		<a class="social linkedin_link" target="_blank" href="www.linkedin.com/in/brianalvey"></a>
	</span></h4>

<p>In 1995, Brian designed the first TV Guide web site and helped Business Week move from AOL to the web. Since then he has created or co-created many successful brands including Engadget, Autoblog, Joystiq, Cinematical, ComicMix, Meet The Makers, Crowd Fusion and Blogstakes – and built all of the platforms that powered them.</p>
</div>
</div>
<div class="clearfix"></div>
<div class="advisors">
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 person offset1">
	<h4><img src="images/elena.png"/><span class="name">Elena Avramov: <i>Social Enterprise Initiati</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/eavramov"></a>
		<a class="social linkedin_link" target="_blank" href="http://www.linkedin.com/pub/elena-avramov/4/868/705"></a>
	</span></h4>

<p>Elena is a business-minded yogi, optimist, and health and wellness junkie. A graduate of the Harvard Business School, Elena focuses her work in the healthcare industry, seeking holistic and long-term solutions to its growing challenges. She formerly worked at Oliver Wyman and Weight Watchers</p>
</div>


<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 person">
	<h4><img src="images/tomcircle1.png"/><span class="name">Thomas Levine: <i>data consultant</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/thomaslevine"></a>
		<a class="social linkedin_link" target="_blank" href="www.linkedin.com/in/tlevine"></a>
	</span></h4>

<p><a href="http://datakind.org/2012/08/data-heroes-tom-levine/">A data superhero</a> and big data ergonomists that can make connections from anything to anything in the most profound of ways. He gradutated from Cornell in 2011 with a degree in DEA (design & environmental analysis)  </p>
</div>
</div>


</div>