<div class="headline aboutus">
	<hgroup class="offset1">
		<h1>We're addicts, engineers, artists, + hustlers</h1><br/>
		<h2>And we're past our Ballmer Peak, switching from beer to mountain dew</h2>
		<h3>Looking for cool people like you to help make this world a substantially less substance abusive place</h3>
	</hgroup>
</div>
<div class="container">

<div class="row-fluid team">

	<div class="span3 offset1">
	<h3>OUR TEAM</h3>
</div>


<div class="span3 person">
	<h4><img src="images/samcircle1.png"/><span class="name">Sam Frons: <i>founder</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/samfrons"></a>
		<a class="social linkedin_link" target="_blank" href="http://www.linkedin.com/in/samfrons"></a>
	</span></h4>

<p>Sam has almost as many years of experience in UI/UX/art/design as she does binge drinking. She's been in recovery four 4 years and is an ardent supporter of The Technological Singularity, loves pool and ping pong and wants to return to competitive fencing - time permitting.
</p>
</div>

<div class="span3 person">
	<h4><img src="images/matt.png"/><span class="name"> Matt Kleiman: <i>co-founder</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/fotomut"></a>
		<a class="social linkedin_link" target="_blank" href="http://www.linkedin.com/in/matthewkleiman?trk=pub-pbmap"></a>
	</span></h4>

<p>Matt has been a full-stack engineer for 9 years and has been clean and sober for 8 of them, previously working at Morgan Stanley, FactSet, and the US Army. Matt's passionate about helping other addicts, especially young people who have come to rely upon mobile technology to solve their problems. He is also an aspiring D&D Dungeon Master.</p>
</div>
</div>


<div class="row-fluid">
<div class="span3 person offset1">
	<h4><img src="images/christiancircle.png"/><span class="name">Christian Flores: <i>growth hacker</i><br/>
		<a class="social twitter_link" target="_blank" href=""></a>
		<a class="social linkedin_link" target="_blank" href=""></a>
	</span>
	</h4>
<p>Christian only intended on coming to NYC for a weekend.  In 48 hours he found a job, an apartment, and subsequently never left.  Currently working as a web strategist in NYC, he doesn't have nearly as much time to flyfish and surf as he used to but he's working towards a guiding license to take people out fly fishing on weekends.</p>
</div>

<div class="span3 person">
	<h4><img src="images/nataliecircle.png"/><span class="name">Natalie Goodis: <i>hustler</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/nataliegoodis"></a>
		<a class="social linkedin_link" target="_blank" href="http://www.linkedin.com/pub/natalie-goodis/24/268/659"></a>
	</span>
	</h4>
<p>Natalie is a Los Angeles native who now calls San Francisco home. She currently works at Facebook in Internal Communications and is excited to bring her experience running employee-facing communication channels to driving brand messaging and external PR for Addicaid and harness technology to power social change. </p>
</div>

<div class="span3 person">
	<h4><img src="images/tomcircle1.png"/><span class="name">Thomas Levine: <i>data consultant</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/thomaslevine"></a>
		<a class="social linkedin_link" target="_blank" href="www.linkedin.com/in/tlevine"></a>
	</span></h4>

<p>The data superhero.</p>
</div>
</div>
<hr/>
<div class="row-fluid advisors">
	<div class="span3 offset1">
	<h3>OUR ADVISORS</h3>

</div>
<div class="span3 person">
	<h4><img src="images/marccircle1.png"/><span class="name">Marc Frons: <i>CIO, New York Times</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/marcfrons"></a>
		<a class="social linkedin_link" target="_blank" href="http://www.linkedin.com/in/frons"></a>
	</span></h4>

<p>Marc was named chief information officer for The New York Times Company in March 2012, previously serving as CTO of The New York Times Media Group since 2006. From 2003 to 2006 he worked at Dow Jones & Co., leaving as VP and chief technology officer for its Consumer Media Group. He worked at AOL Time Warner from 2002 to 2003, first as VP and GM of AOL Personal Finance and then as consulting editor for CNN Money.</p>
</div>
<div class="span3 person">
	<h4><img src="images/briancircle1.png"/><span class="name">Brian Alvey: <i>founder & Chief Scientist, Ceros Labs</i><br/>
		<a class="social twitter_link" target="_blank" href="https://twitter.com/brianalvey"></a>
		<a class="social linkedin_link" target="_blank" href="www.linkedin.com/in/brianalvey"></a>
	</span></h4>

<p>Brian creates brands and the platforms they run on. He and Jason Calacanis founded Weblogs, Inc. — home to Engadget, Autoblog, Joystiq, TV Squad, Blogging Stocks and many more top blogs. Brian is the chairman of ComicMix and CEO of Crowd Fusion. Crowd Fusion's platform customers have included TMZ, The Daily, MySpace, Essence, Tecca and ExtraTV.</p>
</div>
</div>

</div>