<div class="headline aboutus">
	<hgroup>
		<h1>We're addicts, engineers, artists, + hustlers</h1><br/>
		<h2>And we're past our Ballmer Peak, switching from beer to mountain dew</h2>
		<h3>Looking for cool people like you to help make this world a substansially less substance abusive place</h3>
	</hgroup>
</div>
<div class="container">

<div class="row-fluid team">

	<div class="span3 offset1">
	<h3>The team</h3>
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>


<div class="span3 person">
	<h4><span class="name"> Sam Frons founder</span> <img src="../images/samcircle.png"/></h4>
	
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>

<div class="span3 person">
	<h4><span class="name"> Matt Kleiman- co-founder</span><img src="../images/mattcircle.png"/></h4>
	
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>
</div>


<div class="row-fluid">
<div class="span3 person offset1">
	<h4><span class="name">Christian Flores- growth hacker</span>
	<img src="../images/christiancircle.png"/></h4>
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>

<div class="span3 person">
	<h4><span class="name">Natalie Goodis- hustler</span>
	<img src="../images/nataliecircle.png"/></h4>
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>

<div class="span3 person">
	<h4><span class="name">Thomas Levine- data consultant</span><img src="../images/tomcircle.png"/></h4>
	
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>
</div>
<hr/>
<div class="row-fluid advisors">
	<div class="span3 offset1">
	<h3>Our Advisors</h3>
	
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>
<div class="span3 person">
	<h4><span class="name">Marc Frons -CIO, New York Times</span><img src="../images/marccircle.png"/></h4>
	
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>
<div class="span3 person">
	<h4><span class="name">Brian Alvey- CEO, Ceros Labs</span><img src="../images/briancircle.png"/></h4>
	
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>
</div>

</div>