
<div class="row-fluid" id="mc_embed_signup">


<form action="http://addicaid.us6.list-manage.com/subscribe/post?u=d8ee99e07b0749118fc2d06ef&amp;id=f7d184c8ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<div class="span3">
  <label for="mce-EMAIL">Until then, sit tight and check your email</label>
</div>

<div class="span4">
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
</div>

  <div class="span4"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->