<hr/>
	<h3 class="features">What's new about Addicaid?</h3>
<hr/>
<div class="features">
	<div class="feature_entry smartmeeting">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><h4>Smarter Meetings</h4>
		<p>Finding a meeting is the first step to getting better. Our meeting finder makes it easy to find the ones right for you. 
		<br/><br/>
		For the first time ever, meeting details are crowdsourced so you know what they’re like before you get there. Even better, members can organize their own</p>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<img src="images/smartmeetings_apple.png" class="img-responsive" />
		</div>
	</div>
	<hr/>

	<div class="feature_entry smartmeeting">

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><img src="images/profile_apple.png" class="img-responsive" /></div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h4>Custom Recovery</h4><p>Out with the one-size-fits-all model, and in with the customization! Users set their recovery goals and check in daily to track their progress. 
			<br/><br/>
			A plethora of resources and recommendations introduce new lifestyle options to replace the bad habits and start anew.</p></div>
	</div>
	<hr/>
	<div class="clearfix"></div>
	<div class="feature_entry smartmeeting">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h4>Support Network</h4>
			<p>The will alone of one person is not enough to get better. Solidarity in recovery is what makes your day count grow
			<br/><br/>
			Addicaid's tools for finding people in your area like you ensure that you'll have a strong support group. And when you have no one to talk to when you need it most, our local SOS alerts let people reach out to you.</p>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><img src="images/sos_apple.png" class="img-responsive" /></div>
	</div>
</div>
<div class="clearfix"></div>
<div class="missionbutton">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<a href="#mission"><button class="mission">Read more about our mission</button></a>
	</div>
</div>