<ng-include src="views.header"></ng-include>

<article class="grids grid-12 filter">
 <div class="filter type">
    <h3>type</h3>
    <ul class="grids grid-12">    
        <li class="aa"><button>Alcoholics Anonymous</button></li>
        <li class="na"><button>Narcotics Anonymous</button></li>
    </ul>
</div>

<div class="filter where">
    <h3>where</h3>

    <ul class="grids grid-12 where">
    <div class="grids grid-5" id="slider">1<input id="slide" type="range" min="1" max="30" step="5" value="100" onchange="updateSlider(this.value)" />25<p id="chosen"></p>miles</div>
   
    <h4 class="grids grid-2">from</h4>

    <aside class="grids grid-4">
    <button>here</button>
    <h5>or</h5>
    <input type="field" placeholder="zip code">
    </aside>
    </ul>

</div>

<div class="filter day">
<h3>day</h3>
    <ul class="grids grid-12 day">
        <li>MON</li>
        <li>TUE</li>
        <li>WED</li>
        <li>THUR</li>
        <li>FRI</li>
        <li>SAT</li>
        <li>SUN</li>
    </ul>
</div>

<div class="filter filter_time">
<h3>time</h3>
    <ul class="grids grid-12 filter_time">
        <li><p>morning</p>6AM - 12PM</li>
        <li>afternoon 12PM - 5PM</li>
        <li>evening 5PM - 8PM</li>
        <li>night 8PM onward</li>
    </ul>
</div>

<div class="filter filter_ratings">
<h3>ratings</h3>
    <ul class="grids grid-12 filter_ratings">
        <li class="grids grid-2 snacks"><p>snacks</p></li>
        <li class="grids grid-2 coffee"><p>coffee</p></li>
        <li class="grids grid-2 large_group"><p>large_group</p></li>
        <li class="grids grid-2 lgbt"><p>lgbt</p></li>
        <li class="grids grid-2 meditation"><p>meditation</p></li>
        <li class="grids grid-2 mens"><p>mens</p></li>

        <li class="grids grid-2 newcomer"><p>newcomer</p></li>
        <li class="grids grid-2 outsiders"><p>outsiders welcome</p></li>
        <li class="grids grid-2 womens"><p>womens</p></li>
        <li class="grids grid-2 young_people"><p>young people</p></li>
        <li class="grids grid-2 wheelchair"><p>wheelchair</p></li>
        <li class="grids grid-2 pets"><p>pet allowed</p></li>
    </ul>
</div>
    <button type="submit" ng-tap="$navigate.back()">submit</button>

</article>

<ng-include src="views.footer"></ng-include>

