<ng-include src="views.header"></ng-include>
<section class="filterpage">
<article class="grids grid-12 filter">
 <div class="filter type">
    <h3>fellowship type</h3>
    <ul class="grids grid-12">    
        <li class="AA"><button class="AAbutton">Alcoholics Anonymous</button></li>
        <li class="NA"><button class="NAbutton">Narcotics Anonymous</button></li>
    </ul>
</div>

<div class="filter where">
    <h3>where</h3>

    <ul class="grids grid-12 where">
    <div class="grids grid-11 where"><input type="field" class="miles" placeholder="5"><label>&nbsp;&nbsp;miles</label>&nbsp;from&nbsp;&nbsp;

        <!--<input id="slide" type="range" min="1" max="30" step="5" value="100" onchange="updateSlider(this.value)" />25<p id="chosen"></p>miles</div>-->

 
    <button class="here" type="submit"><img src='images/here_icon.png'/>here&nbsp;&nbsp;</button>&nbsp;&nbsp;or&nbsp;&nbsp;
    <input type="field" class="zipcode" placeholder="zip code">
    </ul>

</div>

<div class="filter day">
<h3>day</h3>
    <ul class="grids grid-12 day">
        <li>MON</li>
        <li>TUE</li>
        <li>WED</li>
        <li>THUR</li>
        <li>FRI</li>
        <li>SAT</li>
        <li>SUN</li>
    </ul>
</div>

<div class="filter filter_time">
<h3>time</h3>
    <ul class="grids grid-12 filter_time">
        <li><img height="35px" src="../images/clock.png"><br/>morning<br/>6AM - 12PM</li>
        <li><img height="35px" src="../images/clock.png"><br/>afternoon<br/> 12PM - 5PM</li>
        <li><img height="35px" src="../images/clock.png"><br/>evening<br/>5PM - 8PM</li>
        <li><img height="35px" src="../images/clock.png"><br/>night<br/>8PM and on</li>
    </ul>
</div>

<div class="filter filter_ratings">
<h3>ratings</h3>
    <ul class="grids grid-12 filter_ratings">
        <li class="grids grid-2 snacks"><p class="snacks">snacks</p></li>
        <li class="grids grid-2 coffee"><p>coffee</p></li>
        <li class="grids grid-2 large_group"><p>large group</p></li>
        <li class="grids grid-2 lgbt"><p>lgbt</p></li>
        <li class="grids grid-2 meditation"><p>meditation</p></li>
        <li class="grids grid-2 mens"><p>mens</p></li>

        <li class="grids grid-2 newcomer"><p>newcomer</p></li>
        <li class="grids grid-2 outsiders"><p>outsiders welcome</p></li>
        <li class="grids grid-2 womens"><p>womens</p></li>
        <li class="grids grid-2 young_people"><p>young people</p></li>
        <li class="grids grid-2 wheelchair"><p>wheelchair</p></li>
        <li class="grids grid-2 pets"><p>pet allowed</p></li>
    </ul>
</div>
    <button type="submit" ng-tap="$navigate.back()" class="submit_button filter_submit"><span class="submit_text">submit</span><span class="submit_arrow"></span></button>

</article>
</section>

<ng-include src="views.footer"></ng-include>

