<ng-include src="views.header" xmlns="http://www.w3.org/1999/html"></ng-include>
<section class="filterpage">
    <article class="grids grid-12 filter">

        <ul class="options filter">
        <li class="grid-3"><button class="grid-10 reset"ng-tap="resetFilters()">RESET</button></li>
        <li class="grid-8"><input class="grid-10" type="text" placeholder="search"></li>
        </ul>

        <div class="filter filter_fellowship">
            <h3>fellowship type</h3>
            <ul class="grids grid-12">
                <li ng-repeat="fellowship in filters.fellowships"
                    ng-tap="fellowship.selected=!fellowship.selected"
                    class="grids grid-5 FilterToggle fellowshipkind" ng-class="fellowship.cssClass"
                    ui-show="fellowship.selected">
                    <span class="fellowshipType {{fellowship.cssClass}}">{{fellowship.text}}</span>
                    <!--<img src="{{fellowship.imgSrc}}" />-->
                    <!--{{fellowship.text}}-->
                </li>
            </ul>
        </div>

        <div class="filter filter_where">
            <h3>where</h3>

            <ul class="grids grid-12 filter_where">
                <input type="field" class="miles" placeholder="5"
                       ng-model="filters.location.radius"
                       ng-pattern="/\d+/" />
                <label>&nbsp;&nbsp;miles</label>
                &nbsp;from&nbsp;&nbsp;

                <li>
                    <button class="here FilterToggle"
                            ng-tap="filters.location.useCurrentLocation=!filters.location.useCurrentLocation"
                            ui-show="filters.location.useCurrentLocation">
                        <span class="hereicon"></span>here&nbsp;&nbsp;
                    </button>&nbsp;&nbsp;
                    <span class="or">or</span>&nbsp;&nbsp;
                </li>
                <input type="field" class="zipcode" placeholder="zip code"
                       ng-model="filters.location.zip"
                       ng-minlength="5" ng-maxlength="5" ng-pattern="/\d{5}/" />
            </ul>

        </div>

        <div class="filter filter_day">
            <h3>day</h3>
            <ul class="grids grid-12 filter_day">
                <li ng-repeat="day in filters.days" ng-tap="day.selected=!day.selected"
                    ui-show="day.selected">
                    {{day.text}}
                </li>
            </ul>
        </div>

        <div class="filter filter_time">
            <h3>time</h3>
            <ul class="grids grid-12 filter_time">
                <li ng-repeat="time in filters.times" ng-tap="time.selected=!time.selected"
                    ui-show="time.selected" class="FilterToggle">
                    <img height="25px" ng-src="{{getImgSrc(time)}}" />
                    <br/>
                    {{time.text1}}<br/>
                    {{time.text2}}
                </li>
            </ul>
        </div>

        <div class="filter">
            <h3>ratings</h3>
            <ul class="grids grid-12 filter_ratings">
                <li ng-repeat="rating in filters.ratings" class="grids grid-2 FilterToggle"
                    ui-show="rating.selected"
                    ng-tap="rating.selected=!rating.selected">
                    <img height="25px" ng-src="{{getImgSrc(rating)}}" />
                    <p>{{rating.text}}</p>
                </li>
            </ul>
        </div>
        <!--<a ng-tap="submitFilter()">-->
            <!--<button type="submit" class="submit_button filter_submit"><span class="submit_text">submit</span><span class="submit_arrow"></span></button>-->
        <!--</a>-->

    </article>

    <button type="submit" class="submit_simple"><span class="submit_text">submit</span><span class="submit_arrow"></span></button>
</section>

<ng-include src="views.footer"></ng-include>

