<footer><hr/>
	<nav>
	<ul>
<li>
<a href="#aboutUs"><li>about us</li></a>

	<a href="#investors"><li>for investors</li></a><br/>
<a class="social twitter_link" target="_blank" href="https://twitter.com/addicaid">@addicaid</a>
		
</li>
<li>
	<a class="social facebook_link" target="_blank" href="https://www.facebook.com/addicaid">like us</a>
</li>
</nav>
</ul>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


	&copy; 2013 Twistor Labs inc. 
	if you want to be a part of it, or get a nice message email us at <a href="mailto:info@addicaid.com">info@addicaid.com</a>
</footer>