<div class="headline people_background">

    <hgroup>
        <img src="../images/addicaid_wordmark.png"/>
        <h2>A new kind of treatment</h2>


        <div class="bigdealcontainer">
            <div class="words"><span class="word1">
your </span> <span class="word2">life</span> <span class="word3">is</span> <span class="word4">about </span> <span class="word5">to</span> <span class="word6"> get</span> <span class="word7">way</span> <span class="word8">more</span> <span class="word9">awesome .&nbsp;.&nbsp;.&nbsp;</span><br/> <span class="word10">.&nbsp;.&nbsp;.&nbsp;once</span> <span class="word11">we </span> <span class="word13"> totally launch</span></div>




<!-- find a meeting button to add when we launch that -->
<br/>
    <div class="row-fluid meeting_button">
	find a meeting now
</div>




    </hgroup>

</div>
