
<div class='container'>
<nav class="header">
<ul>
	<a href="#"><li class="addicaid_icon"><img src="images/addicaid_icon.png"/></li></a>
	<!--<a ng-click="scrollTo('emailSection')"><li class="addicaid_icon"><img src="images/addicaid_icon.png"/></li></a>-->
	<!--<a ng-click="scrollTo('pressSection')"><li class="addicaid_icon"><img src="images/addicaid_icon.png"/></li></a>-->
	<a href="#map"><li>NYC meetings</li></a>
	<a href="#map"><li>Professional Help</li></a>
	<a href="#map"><li>About addiction</li></a>
	<a target="_blank" href="http://addicaid.tumblr.com"><li>Blog</li></a>

	<a target="_blank" href="http://addicaid.tumblr.com"><li class="signup">login | register</li></a>

</ul>
</nav>
</div>
