<div class="headline people_background">


<!-- signup version -->
<div class="span6">
    <hgroup>
        <img src="images/addicaid_wordmark.png"/>
        <h2>A new kind of treatment</h2>


        <div class="bigdealcontainer">
            <div class="words"><span class="word1">
your </span> <span class="word2">life</span> <span class="word3">is</span> <span class="word4">about </span> <span class="word5">to</span> <span class="word6"> get</span> <span class="word7">way</span> <span class="word8">more</span> <span class="word9">awesome .&nbsp;.&nbsp;.&nbsp;</span><br/> <span class="word10"></span> <span class="word11"></span> <span class="word13"></span></div>
    </hgroup>
</div>


<div class="row span7" id="signup_box">
	<form class="signup span3">
<h1>Sign Up</h1>
<input type="text" placeholder="username"><br/>
<input type="text" placeholder="email"></br>
<input type="text" placeholder="password"><br/>
<input type="text" id="age2" placeholder="age">
<span class="downWhite"></span>
<select>
  <option value="volvo" disabled>gender</option>
  <option value="saab">female</option>
  <option value="mercedes">male</option>
  <option value="audi">other</option>
</select>
</form>
<div class="span3">
	<h2>or connect with</h2>
	<ul>
	<li class="login social twitter_link">twitter</li>
	<li class="login social facebook_link" >facebook</li>
	<h6>we will NEVER post to anything!</h6>
</div>


</div>


<!-- old version 
    <hgroup>
        <img src="images/addicaid_wordmark.png"/>
        <h2>A new kind of treatment</h2>


        <div class="bigdealcontainer">
            <div class="words"><span class="word1">
your </span> <span class="word2">life</span> <span class="word3">is</span> <span class="word4">about </span> <span class="word5">to</span> <span class="word6"> get</span> <span class="word7">way</span> <span class="word8">more</span> <span class="word9">awesome .&nbsp;.&nbsp;.&nbsp;</span><br/> <span class="word10">.&nbsp;.&nbsp;.&nbsp;once</span> <span class="word11">we </span> <span class="word13"> totally launch</span></div>




<br/>
    <div class="row-fluid meeting_button">
	<a href="#map">try the <i>alpha</i> meeting finder <strong>for NYC</strong></a>
</div>

    </hgroup>

-->



</div>
