
<div class='container'>
<nav class="header">
<ul>
	<a href="#"><li class="addicaid_icon"><img src="images/addicaid_icon.png"/></li></a>
	<!--<a ng-click="scrollTo('emailSection')"><li class="addicaid_icon"><img src="images/addicaid_icon.png"/></li></a>-->
	<!--<a ng-click="scrollTo('pressSection')"><li class="addicaid_icon"><img src="images/addicaid_icon.png"/></li></a>-->
	<a href="#aboutUs"><li>about us</li></a>
	<a href="#investors"><li>for investors</li></a>
	<a target="_blank" href="http://addicaid.tumblr.com"><li>blog</li></a>
<!--
	<a target="_blank" href="http://addicaid.tumblr.com"><li>login | register</li></a>
	<a target="_blank" href="http://addicaid.tumblr.com"><li>blog</li></a>-->
</ul>
</nav>
</div>
