<div class='container'>
	<nav class="header">
		<ul>
			<a href="#"><li class="addicaid_icon"><img src="images/addicaid_icon.png" width="50" style="width:50px;" /></li></a>
			<!--<a ng-click="scrollTo('emailSection')"><li class="addicaid_icon"><img src="images/addicaid_icon.png"/></li></a>-->
			<!--<a ng-click="scrollTo('pressSection')"><li class="addicaid_icon"><img src="images/addicaid_icon.png"/></li></a>-->
			<li><a class="social twitter_link" target="_blank" href="https://twitter.com/addicaid">@addicaid</a></li>
			<li><a class="social facebook_link" target="_blank" href="https://www.facebook.com/addicaid">like us</a></li>
			<!--<a target="_blank" href="http://addicaid.tumblr.com"><li>Blog</li></a>
			<a target="_blank" href="http://addicaid.tumblr.com"><li class="signup">login | register</li></a>-->
		</ul>
	</nav>
</div>
