<div class="headline investors">
	<hgroup>
		<h1>Join us in our profunding yearning to change the world!</h1>
		<h2>We've just opened our seed round. Let us tell you how working with us will warm your soul and deepen your pockets.</h2>
		<h3>Request your top-secret for-investor-eyes-only documents at <a href="mailto:info@addicaid.com">info@addicaid.com</a>
	</hgroup>
</div>
<div class="container">

<div class="row-fluid investor_info">
<div class="span10 offset1">
	<h3>THE INDUSTRY</h3>
<p>The addiction treatment is virtually uncharted in the tech sector, and it is in dire need of this upgrade. It's a $30 billion a year industry while substance abuse and drug prevention costed the US Government $468 billion and both these numbers are only getting bigger.</p>
</div>
</div>

<div class="row-fluid investor_info">
<div class="span10 offset1">
	<h3>THE URGENCY</h3>
<p>More than 23.5 million teenagers and adults suffer from addiction in the US alone and it’s growing fast. Of the 1 in 10 who actually receive treatment, less than 5% remain drug and/or alcohol-free. The social toll is dire. 1 in 4 children have immediate family members in addiction and it is the driving force of homelessness.</p>
</div>
</div>


<div class="row-fluid investor_info">
<div class="span10 offset1">
	<h3>THE SOLUTION</h3>
<p>We've spent months refining our strategy to maximize the effectiveness of Addicaid and are now building the beginning of a unique, revolutionary set of tools to change the way people experience addiction and recovery. It's brand new, experience-based, scientifically-informed, and feels really cool.</p>
</div>
</div>


<div class="row-fluid">
<div class="span5 offset1">
	<h3>WATCH OUR LATEST DEMO</h3>
<iframe src="http://player.vimeo.com/video/65325137" width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<div class="span5">
	<h3>WATCH OUR WINNING PITCH</h3>
<iframe width="100%" height="281" src="http://www.youtube.com/embed/x36pyQYsOqU" frameborder="0" allowfullscreen></iframe>
</div>
</div>

</div>
