
<!-- mobile main page view-->
<section class="mobile_page" id="main_page">
<div class="bigdealcontainer" id="mobile_view">
            <div class="words"><span class="word1"><img class="icon_large" src="../images/addicaid_icon_large.png"/></span> <p><span class="word3 homescreen_add">add to homescreen</span></p>


<div class="copy">
 <span class="word4"></span> <span class="word5"></span><span class="word6"></span><span class="word7"></span><span class="word8"></span><span class="word9">meeting finder</span><br/> <span class="word10"></span> <span class="word11"></span> <span class="word13">visit our company site</span></div>
</div>
</div>
<nav class="bottom">
 <ul>
 	<a href="#list_page"><li>list</li></a>
 	<li>map</li>
 	<li>filter</li>
 	<li>feedback</li>
 </ul>
</nav>
</section>



<!-- current partials

<ng-include src="getPartialUrl('headline')" ng-controller="HeadlineCtrl" id="headlineSection"></ng-include>


<ng-include src="getPartialUrl('emailListSignup')" ng-controller="EmailListSignupCtrl" id="emailSection"></ng-include>

<ng-include src="getPartialUrl('press')" ng-controller="PressCtrl" id="pressSection"></ng-include>

<ng-include src="getPartialUrl('tumblr')" ng-controller="TumblrCtrl" id="tumblrSection"></ng-include>
-->









<!-- meeting and signup partials 

<ng-include src="getPartialUrl('headline')" ng-controller="HeadlineCtrl" id="headlineSection"></ng-include>

<ng-include src="getPartialUrl('signupFlow')" ng-controller="SignupFlowCtrl" id="signupFlowSection"></ng-include>



<ng-include src="getPartialUrl('press')" ng-controller="PressCtrl" id="pressSection"></ng-include>

<ng-include src="getPartialUrl('emailListSignup')" ng-controller="EmailListSignupCtrl" id="emailSection"></ng-include>
-->
<!--
<ng-include src="getPartialUrl('tumblr')" ng-controller="TumblrCtrl" id="tumblrSection"></ng-include> -->
