<ng-include autoscroll src="getPartialUrl('headline')" ng-controller="HeadlineCtrl" id="headlineSection"></ng-include>


<ng-include autoscroll src="getPartialUrl('emailListSignup')" ng-controller="EmailListSignupCtrl" id="emailSection"></ng-include>
<!--
<ng-include autoscroll src="getPartialUrl('press')" ng-controller="PressCtrl" id="pressSection"></ng-include>




<ng-include src="getPartialUrl('tumblr')" ng-controller="TumblrCtrl" id="tumblrSection"></ng-include>
-->


<!-- meeting and signup partials

<ng-include src="getPartialUrl('headline')" ng-controller="HeadlineCtrl" id="headlineSection"></ng-include>

<ng-include src="getPartialUrl('signupFlow')" ng-controller="SignupFlowCtrl" id="signupFlowSection"></ng-include>



<ng-include src="getPartialUrl('press')" ng-controller="PressCtrl" id="pressSection"></ng-include>

<ng-include src="getPartialUrl('emailListSignup')" ng-controller="EmailListSignupCtrl" id="emailSection"></ng-include>
-->
<!--
<ng-include src="getPartialUrl('tumblr')" ng-controller="TumblrCtrl" id="tumblrSection"></ng-include> -->
