<link rel='stylesheet' media='screen and (min-width: 320px) and (max-width: 480px)' href='/styles/medium.css' />
<link rel='stylesheet' media='screen and (min-device-width: 320px) and (max-device-width: 480px)' href='/styles/medium.css' />


<!--Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting google maps-->
<section class="mobile_page" id="filter_page">
  <ng-include src="getPartialUrl('meetingFilters')" ng-controller="MeetingFiltersCtrl" id="meetingFiltersSection" class="filter_partial"></ng-include>
</section>









<div class="row-fluid">
  <section class="mobile_page" id="list_page">
    <div class="span4 meeting_results">

      <div ng-repeat="meeting in meetings | orderBy:distance | startFrom:currentPage*pageSize | limitTo:pageSize">
        <ng-include src="getPartialUrl('meetingDetailSmall')" ng-controller="MeetingDetailSmallCtrl"></ng-include>
      </div>
      <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
      </button>
      {{currentPage+1}}/{{numberOfPages()}}
      <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>
  </section>



  <section class="mobile_page map_page" id="map1_page">
    <!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting google maps -->
    <div id="map_canvas" ui-map="map" class="span8 map" width="67.95745%"
         ui-event="{'map-bounds_changed': 'updateMapBounds()', 'map-center_changed': 'updateCurrentLocationFromMapCenter()'}"
         ui-options="mapOptions">
    </div>

    <!-- this is the confusing part. we have to point the map marker directive
        at an existing google.maps.Marker object, so it can hook up events -->
    <div ng-repeat="meeting in meetings" ui-map-marker="meeting.marker"
         ui-event="{'map-click': 'openMarkerInfo(meeting)'}">
    </div>
    <div ui-map-info-window="myInfoWindow" >
      <ng-include src="getPartialUrl('meetingDetailSmall')" ng-controller="MeetingDetailSmallCtrl"></ng-include>
    </div>

  </section>

  <nav class="bottom">
    <ul>
      <a href="#list_page"><li>list</li></a>
      <a href="?scrollTo=map1_page"><li>map</li></a>
      <li>filter</li>
      <li>feedback</li>
    </ul>
  </nav>

</div>

