<link rel='stylesheet' media='screen and (min-width: 320px) and (max-width: 780px)' href='styles/special/medium.css' />



<!--Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting google maps-->
<section class="mobile_page" id="filter_page" ng-show="show.filter">
  <h1 class="mobile">filter</h1>
  <ng-include src="getPartialUrl('meetingFilters')" ng-controller="MeetingFiltersCtrl" id="meetingFiltersSection" class="filter_partial"></ng-include>
</section>



<div class="row-fluid">

  <h1 class="mobile">nearby meetings</h1>
  <ng-include src="getPartialUrl('meetingList')" ng-controller="MeetingListCtrl" ng-show="show.list"></ng-include>



  <h1 class="mobile">map</h1>
  <section class="mobile_page map_page" id="map_page">
    <div id="map_canvas" ui-map="map" class="span8 map" width="80.95745%"
         ui-event="{'map-bounds_changed': 'updateMapBounds()'}"
         ui-options="mapOptions">
    </div>
    <!--ui-event="{'map-bounds_changed': 'updateMapBounds()', 'map-center_changed': 'updateCurrentLocationFromMapCenter()'}"-->
    <!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting google maps -->


    <!-- this is the confusing part. we have to point the map marker directive
        at an existing google.maps.Marker object, so it can hook up events -->
    <div ng-repeat="meeting in meetings" ui-map-marker="meeting.marker"
         ui-event="{'map-click': 'openMarkerInfo(meeting)'}">
    </div>
    <div ui-map-marker="currentLocationMarker"><!-- current location marker --></div>
    <div ui-map-info-window="myInfoWindow" >
      <ng-include src="getPartialUrl('meetingDetailSmall')" ng-controller="MeetingDetailSmallCtrl"></ng-include>
    </div>
  </section>

  <nav class="bottom_map">
    <ul>
      <a ng-click="showOnly('list')"><li class="span3">list</li></a>
      <a ng-click="showOnly('map')"><li class="span3">map</li></a>
      <a ng-click="showOnly('filter')"><li class="span3">filter</li></a>
      <a href="#main" target="_blank"><li class="span3">home</li></a>
      <a href="mailto:matt@addicaid.com?subject=[Feedback:map]"><li class="span3">  &nbsp;&nbsp;feedback</li></a>
    </ul>
  </nav>

</div>

