<ng-include src="views.header"></ng-include>





<!--<leaflet marker="marker" center="center" zoom="zoom" draggable="true" markcenter="true"></leaflet>-->

<!--<div id="map_canvas" ui-map="myMap" class="map"-->
     <!--ui-event="{'map-click': 'addMarker($event)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"-->
     <!--ui-options="mapOptions">-->
<!--</div>-->

<!--<leafletMap leaflet-options="mapOptions"></leafletMap>-->
<!--<div id="map" class="map" leaflet-map="myMap" map-options="mapOptions"></div>-->
<!--<leafletMap id="map" class="map" map-options="mapOptions"></leafletMap>-->

<!--<leafletMarker ></leafletMarker>-->


<div leaflet-map="leafletMap"
        leaflet-options="mapOptions"
        class="mappo"
        ></div>
center="mapCenter" zoom="mapZoom"
<!--ui-map="map1"-->


<!-- this is the confusing part. we have to point the map marker directive
  at an existing google.maps.Marker object, so it can hook up events -->
<!--<leaflet-marker-->
        <!--ng-repeat="marker in mapMarkers"-->
     <!--leaflet-lat="mapMarkers[$index].latitude"-->
     <!--leaflet-lng="mapMarkers[$index].longitude"-->
     <!--leaflet-map="mapid"-->
     <!-->-->
<!--</leaflet-marker>-->
<!--map-event="{'map-click': 'openMarkerInfo(marker)'}"-->





<ng-include src="views.footer"></ng-include>




<style>
    .mappo {
        /*width: ;*/
        /*height: 100%;*/
    }
</style>