<hr/>


<div class="row-fluid filter">
  <div class=" span2 type">
    <!--<h5><button class="all">all</button></h5>-->
    <button class="AA selected">alcoholics anonymous</button>
    <button class="NA">narcotics anonymous</button>
    <!--<button>smart recovery</button>-->
  </div>

  <div class="span4 day">
    <day-filter></day-filter>
  </div>
</div>

<div class="row-fluid filter">
  <div class="span2 time">
    <!--<h5><button class="all">all</button></h5>-->
    <button>morning</button>
    <button>afternoon</button>
    <button>evening</button>
    <button>night</button>
  </div>

  <div class="span4 location">
    <button class="here" ng-click="getCurrentLocation()"></button>
    or
    <input class="zipcode" placeholder="address" ng-model="customAddress"/>
  </div>

  <div class="span3">
    <button class="find_meeting" ng-click="findMeetings()">find a meeting! <img src="../images/find_meeting.gif"></button>
  </div>
</div>

<div class="row-fluid">
</div>