<div class="meeting_results span6">

    <div class="span8">
        <hgroup class="meeting_info span4">
            <h3>Potreo Hill Community Center (Potreo Hill Community Center)</h3>
            <h4>953 Deharo</h4>
            <h5>San Francisco, CA 94107</h5>
            <h6 class="type">Alcoholics Anonymous</h6>
        </hgroup>
        <div class="span2 info">
            <span class="time">20:00</span></br>
            <span class="day">wed</span><br/>
            <span class="distance">0.9 miles</span>
        </div>

    </div>

</div>