<div class="row-fluid filter">
    <div class=" span2 type">
        <h5>type <button class="all">all</button></h5>
        <button class="selected">alcoholics</button>
        <button>narcotics</button>

    </div>

    <div class="span4 day">
        <h5>day <button class="all">all</button></h5>
        <button>mon</button>
        <button>tues</button>
        <button>wed</button>
        <button>thurs</button>
        <button>fri</button>
        <button>sat</button>
        <button>sun</button>

    </div>

    <div class="span3 time">
        <h5>time <button class="all">all</button></h5>
        <button>morning</button>
        <button>afternoon</button>
        <button>evening</button>
        <button>night</button>
    </div>

    <div class="span3 location">
        <h5>place</h5>
        <input class='distance' placeholder="5 miles from"/>
        current location
        or
        <input class="zipcode" placeholder="zipcode"/>
    </div>
    <button type="submit">submit</button>
    <hr/>
</div>
