<div class="row-fluid filter">
<div class=" span2 type">
	<h5>type <button class="all">all</button></h5>
	<button class="selected">alcoholics</button>
	<button>narcotics</button>
	<!--<button>smart recovery</button>-->

</div>

<div class="span4 day">
	<h5>day <button class="all">all</button></h5>
	<button>m</button>
	<button>t</button>
	<button>w</button>
	<button>t</button>
	<button>f</button>
	<button class="weekend">s</button>
	<button class="weekend">s</button>

</div>

<div class="span3 time">
	<h5>time <button class="all">all</button></h5>
	<button>morning</button>
	<button>afternoon</button>
	<button>evening</button>
	<button>night</button>
</div>

<div class="span3 location">
	<h5>place</h5>
	<input class='distance' placeholder="5 miles"/>
	from here
	or
	<input class="zipcode" placeholder="zipcode"/>
</div>
</div>
<div class="row-fluid">
<button class="find_meeting" type="submit">find a meeting!</button>
<hr/>
</div>
</div>
