<br/><br/></br>
<div class="container-squeeze">
<div class="row-fluid centered" id="missionhead">
<!--
<img class="aa_logo" src="images/AA-Logo.jpg"/>
<span class="arrow"> >>></span>
<img class="wordmark" src="images/addicaid_icon.png"/>
-->
<img height="50px" width="auto" src="../images/billwdrbob.jpeg"/>
<h1><i>When Bill W. & Dr. Bob started Alcoholics Anonymous back in 1935, it's safe to say they didn't predict anything like The Internet.</i></h1>
<h2>And that's the problem</h2>
</div>

<div class="row-fluid missioncopy">
<div class="span4">
<p>
In a small town called Akron, Ohio, two hopeless alcoholics, <a href="http://en.wikipedia.org/wiki/Bill_W.">Bill W.</a>, a New York stockbroker, and <a href="http://en.wikipedia.org/wiki/Bob_Smith_(doctor)">Dr.Bob</a>, a local surgeon, held the first, one-on-one AA meeting. Both veterans of an Episcopal-inspired, nonalcoholic collective called <a href="http://en.wikipedia.org/wiki/Oxford_Group">The Oxford Group</a>, their involvement in the fellowship was the inspirational cornerstone of Alcoholics Anonymous. By finding spirituality in his participation in The Oxford Group, Bill W. achieved sobreity and began working with other alcoholics. Dr. Bob still struggled, until he met Bill W., who introduced him to a new interpretation of alcoholism as a disease, a chronic malady of the mind.
</p> 
</div>
<div class="span4">
<p> They had their first meeting at Akron's City Hospital with one other gentelman, rising their rank to three men sober.  In the fall of 1935, a second group of alcoholics slowly took shape in New York. A third appeared at Cleveland in 1939. And within those four years, 100 men entered recovery. At this point, Bill W. wrote the textbook of Alcoholics Anonymous, The Big Book, and <a href="http://en.wikipedia.org/wiki/Twelve_steps">The Twelve Steps</a> of recovery was born. It was a philosophy that targeted more than problem drinking; members are supposed to correct all defects of character and adopt a new way of life.
</p>
</div>
<div class="span4">
<p>
Now, almost 80 years later, AA has become a worldwide mission and helped a countless number of people. But it's effectiveness is no longer as impressive as it was once assumed to be. The barrier of entry is high, due to not only the lack of online resources, but the strict, black and white view of complete abstaince conjoined with a spirital overhaul. The progressive distancing from traditional religion causes plenty of young people to stay skeptical, and stay away, from the tenants that define AA. So major question raised today is, isn't it time for <a href="http://well.blogs.nytimes.com/2013/02/04/effective-addiction-treatment/">a new kind of recovery?</a></p>
</div>

</div>

<div class="row-fluid">
<h1>The Twelve Steps Today</h1>
</div>
<div class="row-fluid">
<div class="span4">
<h2 class="centered"><strong>36</strong><br/><small>Individual fellowships</small></h2>
<h2 class="centered"><strong>153 - 300 million</strong><br/><small>Illicit drug users worldwide</small></h2>
<h2 class="centered"><strong>2.5 million</strong><br/><small>Annual alcohol-related deaths worldwide</small></h2>
</div>

<div class="span4"> <p>Alcoholics Anonymous prompted a surge of fellowships based on the set of guiding principles for addictive, complusive or behavorial problems.
</p>
</div>

<div class="span4">
<img  src="images/fellowships.png"/>
</div>

</div>

<div class="row-fluid">
<h1>Recovery by The Numbers</h1>
</div>

<div class="row-fluid">
<div class="span4">
<p>The effectiveness of recovery is dismal, at best. Of the the hundreds of millions of people struggling with addiction worldwide, less than 10% even enter recovery. And of the minority that do, less than 5% actually stay in recovery after the first year. Recent studies attribute this to the fact that treatment methods are rooted in outdated methods rather than the lastest approaches shown in <a href="http://www.casacolumbia.org/templates/NewsRoom.aspx?articleid=678&zoneid=51">scientific studies.</a></p>
</div>

<div class="span5">
<img  src="../images/recovery_graph.jpg"/>
</div>

<div class="span3">
<h2 class="centered"><strong>35 million</strong><br/><small>Active addicts/alcoholics in North America</small></h2>
<h2 class="centered"><strong>153 - 300 million</strong><br/><small>Illicit drug users worldwide</small></h2>
<h2 class="centered"><strong>2.5 million</strong><br/><small>Annual alcohol-related deaths worldwide</small></h2>
</div>

</div>

<div class="row-fluid">
<h1>The Cost of Addiction</h1>
</div>
<div class="row-fluid">
<img class="span4" src="../images/piechart.jpg"/>
<div class="span4"><h4>Costs go towards:</h4>
<ul>
<li>Healthcare</li>
<li>Crime</li>
<li>Productivity loss</li>
<li>Incarceration</li>
<li>Drug enforcement</li>
<li>Child/family assistance</li>
<li>Prevention programs</li>
<li>Research</li>
<li>Subtance regulation taxes</li>
<li>Federal interdiction (preventing drug trafficking)</li>
</ul>
</div>
<div class="span4">
<p>With the undeniable seriousness of addiction as a global epidemic, we still have a huge misallocation of resources. Beyond poor health and crime, addictions and substance abuse — especially alcohol — are major underlying factors in other costly social problems like homelessness, domestic violence and child abuse.</p>
</div>



</div>

<div class="row-fluid">
<h5>Sources</h5>
<a href="http://www.drugabuse.gov/publications/addiction-science-molecules-to-managed-care/introduction/drug-abuse-costs-united-states-economy-hundreds-billions-dollars-in-increased-health">cost 1</a>
<a href="http://www.unodc.org/documents/data-and-analysis/WDR2012/WDR_2012_Chapter1.pdf">abuse numbers</a>
<a href="http://www.nytimes.com/2009/05/28/us/28addiction.html">abuse costs</a>
<a href="http://en.wikipedia.org/wiki/Effectiveness_of_Alcoholics_Anonymous"> AA effectiveness wikipedia</a>
<a href="http://www.aa.org/lang/en/subpage.cfm?page=288">AA history</a>
</div>



</div>
