
<div class="row-fluid awards">
<div class="span4"><img src="../images/angelhack.png"/><p>angelhack nyc winner</p></div>
<div class="span4"><img src="../images/launch.png"/><p>diamond in the rough award</p></div>
<div class="span4"><img src="../images/sgs.png"/><p>2nd best hackathon app</p></div>

</div>

<div class="row-fluid quotes ">
<div class="span4"><blockquote><p>"They'll be successful"</p>
<span><img src="../images/p2.png"/> -David Sacks 
(PayPal, Yammer)
</span></blockquote>
</div>
<div class="span4"><blockquote><p>
"Looking at it from a business... there's significant dollars there"</p>
<span><img src="../images/p1.png"/> -Stefan Weitz (Bing)
</span></blockquote>
</div>
<div class="span4"><blockquote><p>"Addicaid- it's awesome, it's needed, it'll happen"</p>
<span><img src="../images/p3.png"/> -Rowan Trollope (Cisco)
</span></blockquote>
</div>
</div>

<div class="row-fluid quotes">
<div class="span4"><blockquote><p>"Solving an important social problem"</p>
<span><img src="../images/p6.png"/> -Frank Chen 
(Andreessen Horowitz)
</span></blockquote>
</div>
<div class="span4"><blockquote><p>"I can see the huge need for this app"</p>
<span><img src="../images/p5.png"/> -Wesley Chan  
(Google Ventures)
</span></blockquote>
</div>
<div class="span4"><blockquote><p>"I am inspired by what Sam [Addicaid] is trying to do"</p>
<span><img src="../images/p4.png"/> -Rachel Proffitt (WSGR)
</span></blockquote>
</div>
</div>

<hr/>

