
<div class="row-fluid awards">
<div class="span4"><img src="../images/angelhack.png"/><p>angelhack nyc winner</p></div>
<div class="span4"><img src="../images/launch.png"/><p>diamond in the rough award</p></div>
<div class="span4"><img src="../images/sgs.png"/><p>2nd best hackathon app</p></div>

</div>

<div class="row-fluid quotes">
<div class="span4"><blockquote><p>"They'll be successful"</p>
<span>-David Sacks 
(PayPal, Yammer)
<img src="../images/p2.png"/></span></blockquote>
</div>
<div class="span4"><blockquote><p>
"Looking at it from a business... there's significant dollars there"</p>
<span>-Stefan Weitz (Bing)
<img src="../images/p1.png"/></span></blockquote>
</div>
<div class="span4"><blockquote><p>"Addicaid- it's awesome, it's needed, it'll happen"</p>
<span>-Rowan Trollope (Cisco)
<img src="../images/p3.png"/></span></blockquote>
</div>
</div>

<div class="row-fluid quotes">
<div class="span4"><blockquote><p>"Solving an important social problem"</p>
<span>-Frank Chen 
(Andreessen Horowitz)
<img src="../images/p6.png"/></span></blockquote>
</div>
<div class="span4"><blockquote><p>"I can see the huge need for this app"</p>
<span>-Wesley Chan  
(Google Ventures)
<img src="../images/p5.png"/></span></blockquote>
</div>
<div class="span4"><blockquote><p>"I am inspired by what Sam [Addicaid] is trying to do"</p>
<span>-Rachel Proffitt (WSGR)
<img src="../images/p4.png"/></span></blockquote>
</div>
</div>

