<ng-include src="views.header" xmlns="http://www.w3.org/1999/html"></ng-include>
<section class="ratepage">
    <h1>Thanks! You're wonderful!</h1>
    <h2>Here's 100 mystery points that will add up to some mystery stuff</h2>
    <h3>And here's a fox that's so happy</h3>

<ol id="spincontainer">
            <!-- START GENERATED CODE -->
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <li><div></div><div></div></li>
            <!-- END GENERATED CODE -->
        </ol>
</section>

<ng-include src="views.footer"></ng-include>

