<ng-include src="views.header"></ng-include>

<section class="view signup">
    <form class="grid grid-12">
        <h1>Hey, we're so glad you're getting better! It'll be LEGENDARY</h1>
        <!--<div id="outerspace">
        <div class="rocket">
        <img src="images/rocket.png" width="92" height="215" alt="rocket animation">
        .rocket
        </div>#outerspace
        </div>-->
        <input class="grid grid-9" type="text" placeholder="name"></input>
        <input class="grid grid-9" type="text" placeholder="email"></input>
        <input class="grid grid-9" type="password" placeholder="password"></input>
        <input class="grid grid-9" type="password" placeholder="confirm password" ></input><br/>
        <button type="submit" class="submit_button" id="targetThis"><span class="submit_text">submit</span><span class="submit_arrow"></span></button>
    </form>
    <h2 class="or">or</h2>
    <button type="submit" class="facebook" id="targetThis"><img src="images/facebookconnectbutton.png"><h3>we promise not share anything with anyone!</h3></button>

</section>


<ng-include src="views.footer"></ng-include>

