
<div class="row-fluid signup" >


<form class="signup"  id="signup" target="_blank" novalidate>

<div class="span1">
  <label for="signup">Sign up with...</label>
</div>
<div class="span2">
	<ul>
		<li>
<a class="social twitter_link" target="_blank" href="https://twitter.com/addicaid">twitter</a>
</li>
		<li>
	<a class="social facebook_link" target="_blank" href="https://www.facebook.com/addicaid">facebook</a>
</li>
<li class="or">
	or
</li>
</ul>
</div>


<div class="span2">
  <input type="email" value="" name="EMAIL" class="email" id="" placeholder="email address" required>
</div>

<div class="span2">
  <input type="password" value="" name="PASSWORD" class="password" id="" placeholder="password" required>
</div>

  <div class="span4"><input type="submit" value="Go on in!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
