<ng-include src="views.header"></ng-include>

<section class="view signup">
    <form class="grid grid-12">
        <h1>Sign up</h1>
        <input class="grid grid-7" type="text" placeholder="name"></input>
        <input class="grid grid-7" type="text" placeholder="email"></input>
        <input class="grid grid-7" type="password" placeholder="password"></input>
        <input class="grid grid-7" type="password" placeholder="confirm password" ></input>
        <button type="submit" class="submit_button" id="targetThis">submit<span class="submit_arrow"></span></button>
    </form>
    <h1>or</h1>
    <button type="submit" class="facebook" id="targetThis"><img src="../images/facebookconnectbutton.png"><h3>we promise not share anything with anyone!</h3></button>

</section>


<ng-include src="views.footer"></ng-include>

